workflows/12GYUqmU8MrgWJOu.json
{
  "active": false,
  "connections": {
    "AI Sales Agent": {
      "main": [
        [
          {
            "node": "Reply To User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Product Catalogue",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Create Product Catalogue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Sales Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Product Catalogue": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Create Product Catalogue",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Create Product Catalogue",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Handle Message Types": {
      "main": [
        [
          {
            "node": "AI Sales Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply To User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Sales Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "get Product Brochure": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "get Product Brochure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Handle Message Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-01T13:45:44.152Z",
  "id": "12GYUqmU8MrgWJOu",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LEAD_Info_Brochure_Whatsapp",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o-2024-05-13",
        "options": {}
      },
      "id": "5eb01356-1a74-4f7d-9bbb-aad0483ff79c",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        144,
        432
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=whatsapp-75-{{ $json.messages[0].from }}"
      },
      "id": "b094629a-62b7-473f-bd37-3c4d2c5e4380",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        272,
        496
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "name": "query_product_brochure",
        "description": "Llama a esta herramienta para consultar el folleto del producto."
      },
      "id": "1d46eeca-6cb1-4247-b3ee-cb0037c47bd4",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        384,
        448
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "685a03fe-b81a-4edb-974a-fe8500182355",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        288,
        800
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-2024-08-06",
        "options": {}
      },
      "id": "74fa494d-c19d-43a3-8144-e3fc783c9afe",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        608,
        640
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "id": "85a82b4e-05e1-44ff-86a6-f9c05da7c15d",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1904,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "a4f98325-e82f-4050-b9f4-42fe56fa1d54",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -1216,
        624
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extract from File').item.json.text }}",
        "options": {}
      },
      "id": "9a22e2cd-74bb-4d50-9861-ba45042d21a7",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -1024,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": null,
        "options": {}
      },
      "id": "44b5bb96-e371-43e2-9f38-917338fcb8a2",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -1024,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "f85791b7-8a52-4ebd-ab32-da25b125fa65",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        -1536,
        304
      ],
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "https://drive.google.com/uc?export=download&id=1aMONCP1jRTqnTR6m4KG4CqvAPwbQ98MC",
        "options": {}
      },
      "id": "ac75eb51-0cc2-4cce-9b95-04dd12421d90",
      "name": "get Product Brochure",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1712,
        304
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "102646042734013",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "id": "48f36205-9414-4678-b91a-6833d5f31015",
      "name": "Reply To User",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        976,
        352
      ],
      "typeVersion": 1,
      "webhookId": "6e14d66d-402a-4902-b5d8-0a2bb5093a04",
      "credentials": {
        "whatsAppApi": {
          "id": "tk6zrwxJLxGE2YuG",
          "name": "WhatsApp account_TEST"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "102646042734013",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "=I'm unable to process non-text messages. Please send only text messages. Thanks!",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "id": "caf608d2-76d8-4846-a9bf-3a70c0d89d03",
      "name": "Reply To User1",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        96,
        624
      ],
      "typeVersion": 1,
      "webhookId": "8c255a5e-2062-48b2-bf98-abb7018cf9c0",
      "credentials": {
        "whatsAppApi": {
          "id": "tk6zrwxJLxGE2YuG",
          "name": "WhatsApp account_TEST"
        }
      }
    },
    {
      "parameters": {
        "memoryKey": "whatsapp-75"
      },
      "id": "eff363db-c73c-4f42-9a9d-d3642204c4df",
      "name": "Product Catalogue",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "position": [
        288,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "1. Descargar el folleto del producto en PDF\n\nImporte su documento PDF de marketing para construir su almacén de vectores. Esto se utilizará como la base de conocimientos del Agente de IA de Ventas.\n\n\n",
        "height": 434.6875,
        "width": 640.4375,
        "color": 7
      },
      "id": "ab35372d-f03e-406e-b6f2-b97f5abf4ad5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1952,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "2. Crear un almacén vectorial de folletos de productos\nMás información sobre el almacén vectorial en memoria\n\nLos almacenes vectoriales son bases de datos potentes que sirven para relacionar las preguntas de un usuario con las partes relevantes de un documento. Al crear un almacén vectorial de nuestro catálogo de productos, permitiremos a los usuarios realizar consultas utilizando el lenguaje natural.\n\nPara simplificar las cosas, utilizaremos el almacén vectorial en memoria que viene integrado en n8n y no requiere un servicio independiente. Para implementaciones de producción, recomendaría reemplazar el almacén vectorial en memoria con Qdrant o Pinecone.",
        "height": 731.1875,
        "width": 614.6875,
        "color": 7
      },
      "id": "b2e0bf0c-6f86-47d2-ac76-5286e1a602b6",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1264,
        128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": "whatsapp-75",
        "clearStore": true
      },
      "id": "422a7003-5c22-4666-b1a4-a32d2d189ab4",
      "name": "Create Product Catalogue",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "position": [
        -1184,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "3. Usa el disparador de WhatsApp\n\n\nEl disparador de WhatsApp te permite recibir mensajes entrantes de WhatsApp de tus clientes. Requiere un poco de configuración, ¡así que recuerda seguir la documentación cuidadosamente! Sin embargo, una vez listo, es bastante fácil construir flujos de trabajo potentes que sean fácilmente accesibles para los usuarios.\n\nTen en cuenta que WhatsApp puede enviar muchos tipos de mensajes, como audio y vídeo, por lo que en esta demostración, los filtraremos y solo aceptaremos los mensajes de texto.",
        "height": 484.1875,
        "width": 546.6875,
        "color": 7
      },
      "id": "8a42443e-e876-40d1-b965-d07b3af8db6f",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### 3a. Manejar Tipos de Mensajes No Compatibles\nPara los mensajes que no son de texto, simplemente responderemos con un mensaje sencillo para informar al remitente.",
        "height": 151,
        "width": 338,
        "color": 7
      },
      "id": "7f431fca-dab6-42ba-901b-f67812ca5ec7",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "4. El agente de IA de ventas responde a los clientes\n\n\nLos agentes de IA de n8n son nodos potentes que facilitan increíblemente el uso de la IA de última generación en sus flujos de trabajo. No solo tienen la capacidad de recordar conversaciones por cliente individual, sino que también aprovechan recursos como nuestro almacén de vectores del catálogo de productos para extraer información objetiva y datos para cada pregunta.\n\nUtilizamos un agente de IA que está dirigido a ayudar al usuario a navegar por el folleto del producto. Se adjunta un subnodo de memoria de chat para identificar y realizar un seguimiento de la sesión del cliente. Se agrega una herramienta de almacén de vectores para permitir que el agente acceda a la base de conocimientos del catálogo de productos que creamos anteriormente.",
        "height": 929.1875,
        "width": 746.6875,
        "color": 7
      },
      "id": "a5d33635-a6e6-4e54-af3e-d9e21a860cd3",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "5. Responder al usuario de WhatsApp\n\nEl nodo de WhatsApp es la opción ideal si quieres interactuar con usuarios de WhatsApp. Con este nodo, puedes enviar mensajes de texto, imágenes, audio y vídeo, así como utilizar tus plantillas de mensajes de WhatsApp.\n\nAquí, lo mantendremos sencillo respondiendo con un mensaje de texto que es la salida del agente de IA.",
        "height": 484.1875,
        "width": 495.4375,
        "color": 7
      },
      "id": "7a720159-d9fd-4ddd-849d-ab4e1b72f485",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Esta plantilla consta de 2 partes: crear el almacén de vectores del catálogo de productos (Brochure MKT)y construir el chatbot de IA de WhatsApp.\nSe importa un folleto de productos (Brochure MKT) a través de un nodo de solicitud HTTP y se extrae su contenido de texto.\nEl contenido del texto se carga luego en el almacén de vectores en memoria para construir una base de conocimiento para el chatbot.\nSe utiliza un disparador de WhatsApp para capturar mensajes de los clientes, donde se filtran los mensajes que no son de texto.\nEl mensaje del cliente se envía al agente de IA, que consulta el catálogo de productos (Brochure MKT) utilizando la herramienta de almacén de vectores.\nLa respuesta del agente se envía de vuelta al usuario a través del nodo de WhatsApp.",
        "height": 343,
        "width": 401
      },
      "id": "0486307f-6392-4543-8c5f-d2922e1c5979",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2368,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Supported"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "89971d8c-a386-4e77-8f6c-f491a8e84cb6",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Not Supported"
            }
          ]
        },
        "options": {}
      },
      "id": "eff3be55-888e-4412-9197-5b5a6f98d3f1",
      "name": "Handle Message Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        -288,
        368
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "¡Solo tienes que ejecutar esta parte una vez!\nEjecuta este paso para completar nuestro vector de catálogo de productos. Vuelve a ejecutar si quieres actualizar el almacén de vectores con una nueva versión.",
        "height": 114.53583720930231,
        "width": 345.10906976744184,
        "color": 5
      },
      "id": "1cb176ab-eb44-4462-a3a2-dbfb5ed05763",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1936,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Activa tu flujo de trabajo para usarlo!\nPara comenzar a usar el chatbot de WhatsApp, deberás activar el flujo de trabajo. Si te auto-hospedas, asegúrate de que WhatsApp pueda conectarse a tu servidor.\n",
        "height": 107.02804651162779,
        "width": 364.6293255813954,
        "color": 5
      },
      "id": "1b2d985b-0f2c-4a41-aded-f8b4ed3ed98c",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -592,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "Eres un asistente que trabaja para Mobilvendor que se dedica al desarrollo de soluciones tecnológicas para la gestión empresarial. Su plataforma, respaldada por Amazon Web Services, permite automatizar procesos administrativos, comerciales, logísticos, contables y de merchandising, principalmente para empresas de consumo masivo en varios países de Latinoamérica Tu objetivo no es facilitar una venta, pero si el usuario pregunta, dirígelo al sitio web, URL o información de contacto apropiados, o en su lugar permítele agendar una cita con unos de nuestros asesores https://outlook.office365.com/book/Mobilvendor_Comercial@mobilvendor.com/?ismsaljsauthenabled=true\n\n\n\nHaz tu mejor esfuerzo para responder cualquier pregunta con precisión. Si no sabes la respuesta o no puedes obtener la información del almacén de datos, díselo al usuario."
        }
      },
      "id": "0b068212-8fd9-43d4-a504-28eade43ed61",
      "name": "AI Sales Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        144,
        256
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all",
            "read"
          ]
        }
      },
      "id": "003581c9-c9ed-430a-bd59-a1a18a7d6189",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        -496,
        368
      ],
      "webhookId": "aaa71f03-f7af-4d18-8d9a-0afb86f1b554",
      "typeVersion": 1,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "kTsS3qhdfuvH39pc",
          "name": "WhatsApp OAuth_MKT"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-01T13:45:44.158Z",
      "updatedAt": "2025-09-01T13:45:44.158Z",
      "role": "workflow:owner",
      "workflowId": "12GYUqmU8MrgWJOu",
      "projectId": "IcIKCrtLDXlTBTP5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-02T13:41:33.000Z",
  "versionId": "bc3921b5-732e-46ed-a176-d9a7b959f677"
}