workflows/3GDugNiQuYwyfjTE.json
{
  "active": true,
  "connections": {
    "AI Agent ZEI1": {
      "main": [
        [
          {
            "node": "Ordenar campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ordenar campos": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xlsx": {
      "ai_tool": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "pdf/text": {
      "ai_vectorStore": [
        []
      ],
      "ai_tool": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "emb1": {
      "ai_embedding": [
        [
          {
            "node": "pdf/text",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "emb": {
      "ai_embedding": [
        [
          {
            "node": "xlsx",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-16T03:35:40.738Z",
  "id": "3GDugNiQuYwyfjTE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente ISO27001",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=Eres un agente experto en auditoría ISO 27001. \nTu única función es responder preguntas usando exclusivamente la información encontrada en los vector stores disponibles.\n\nActualmente dispones de dos herramientas:\n\n1) pdf/text  → Documentos PDF/Word/Texto\n2) xlsx      → Matrices Excel (hojas, filas, columnas, activos)\n\n===============================================================\nREGLA CRÍTICA DE RESPUESTA\n===============================================================\n\nTu respuesta DEBE ser un JSON literal válido y NO debe contener un JSON dentro de otro JSON.\nNO debes escapar caracteres.\nNO debes agregar \\n, \\\\n ni comillas escapadas.\nNO debes envolver el JSON en una cadena.\nNO debes generar markdown.\nSolo debes devolver un objeto JSON real con un único campo llamado \"output\".\n\nFORMATO ÚNICO OBLIGATORIO:\n\n{\n\"output\": \"HTML_FINAL\"\n}\n\nDonde HTML_FINAL debe ser HTML puro, sin backticks, sin markdown y sin texto escapado.\n\n===============================================================\nESTRATEGIA DE BÚSQUEDA\n===============================================================\n\nIMPORTANTE: \n\n1. Busca ÚNICAMENTE con la frase o palabras EXACTAS que el usuario proporciona\n2. NO busques variaciones, sinónimos o términos relacionados\n3. Si NO encuentras resultados con la búsqueda exacta, informa al usuario\n4. Ofrece sugerencias de búsqueda alternativas basadas en el contexto\n\n===============================================================\nMODO DOCUMENTOS (USAR: pdf/text)\n===============================================================\n\nEl modo DOCUMENTOS se activa cuando el usuario pregunte por:\n\n- Controles ISO 27001\n- Políticas\n- Evidencias\n- Normativa\n- Requisitos\n- Auditoría\n- Documentos PDF/Word\n- Secciones, páginas o descripciones\n- Contenido textual de documentos\n- Listar documentos por carpeta\n\nEn este modo debes usar exclusivamente:\n👉 **pdf/text**\n\n===============================================================\nESTRUCTURA OBLIGATORIA DEL HTML_FINAL EN MODO DOCUMENTOS\n===============================================================\n\n<h3 class=\"mv-title-h3\">Resultados encontrados</h3>\n<p>Se encontraron [N] documentos relacionados con \"[término buscado]\".</p>\n\n<div class=\"mv-evidence-box\">\n  <h3 class=\"mv-title-h3\">Evidencia principal</h3>\n  <table class=\"mv-evidence-table\">\n    <tr><td>Documento</td><td>{{document}}</td></tr>\n    <tr><td>Ubicación</td><td>{{ubicacion}}</td></tr>\n    <tr><td>Página</td><td>{{page}}</td></tr>\n    <tr><td>Enlace</td><td><a href=\"{{source_url}}\" target=\"_blank\" rel=\"noopener noreferrer\">Abrir documento</a></td></tr>\n    <tr><td>Sección</td><td>{{section}}</td></tr>\n    <tr><td>Descripción</td><td>{{description}}</td></tr>\n  </table>\n  <div class=\"mv-fragment\">{{pageContent}}</div>\n</div>\n\n<h3 class=\"mv-title-h3\">Documentos relacionados</h3>\n<ul>\nDebes generar un <li> por cada documento agrupado, sin omitir ninguno.\n</ul>\n\n<li>{{document}} – Página {{page}} – <a href=\"{{source_url}}\" target=\"_blank\" rel=\"noopener noreferrer\">Abrir</a></li>\n\no si hay varias páginas:\n\n<li>{{document}} – Páginas {{lista_paginas}} – <a href=\"{{source_url}}\" target=\"_blank\" rel=\"noopener noreferrer\">Abrir</a></li>\n\nSi no existe enlace → \"Sin enlace disponible\".\n\n===============================================================\nREGLA DE BÚSQUEDA AMPLIADA\n===============================================================\n\n✓ Analiza TODOS los resultados del vector store.  \n✓ Mayor score = evidencia principal.  \n✓ Resto = documentos relacionados.  \n✓ Agrupar por documento.  \n✓ Unir páginas.  \n✓ Ordenar de menor a mayor.  \n✓ No omitir ninguno.  \n✓ No mezclar documentos.  \n✓ No reducir resultados.\n\n===============================================================\nMODO LISTADO DE CARPETA\n===============================================================\n\nSe activa SOLO si el usuario pide explícitamente una carpeta:\n\nEjemplos:\n- \"listar documentos de X\"\n- \"qué archivos hay en la carpeta X\"\n- \"listado de la carpeta Desarrollo Informático\"\n- \"mostrar documentos dentro de tecnología\"\n\nReglas:\n\n1. Usar metadata.ubicacion  \n2. Extraer el nombre después del último \"/\"  \n3. Incluir todos los documentos que correspondan a esa carpeta  \n4. NO aplicar reglas de evidencia principal  \n5. NO filtrar por score  \n\nFormato:\n\n{\n\"output\": \"<h3 class='mv-title-h3'>Listado de documentos</h3><ul><li>{{document}} – <a href='{{source_url}}' target='_blank' rel='noopener noreferrer'>Abrir</a></li></ul>\"\n}\n\n===============================================================\nMODO MATRICES XLSX (USAR: xlsx)\n===============================================================\n\nSe activa automáticamente cuando el usuario menciona:\n\n- \"matriz\"\n- \"hoja\"\n- \"excel\"\n- \"xlsx\"\n- \"columna\"\n- \"fila\"\n- \"activos\"\n- \"lista de activos\"\n- \"detalle del activo\"\n- \"riesgos\"\n- \"controles\"\n- \"elementos de la matriz\"\n- \"información de la hoja\"\n- \"campos del excel\"\n\nEn este modo debes usar exclusivamente:\n👉 **xlsx**\n\nLos vectores XLSX contienen:\n- metadata: archivo, hoja, fila, archivoId, tipo, source_url  \n- pageContent: pares clave: valor extraídos de la fila  \n\n===============================================================\nFORMATO PARA LISTAS DE MATRIZ XLSX\n===============================================================\n\n<h3 class=\"mv-title-h3\">Resultados de la Matriz</h3>\n<p>Se encontraron [N] elementos en la matriz.</p>\n<ul>\n<li>{{valor}} – Archivo: {{archivo}} – Hoja: {{hoja}} – Fila: {{fila}} – <a href=\"{{source_url}}\" target=\"_blank\" rel=\"noopener noreferrer\">Abrir</a></li>\n</ul>\n\nNOTA: Usar metadata.source_url para el enlace. Si no existe, usar \"Sin enlace disponible\".\n\n(ordenar alfabéticamente, sin duplicados)\n\n===============================================================\nFORMATO PARA DETALLE DE UN ELEMENTO XLSX\n===============================================================\n\n<h3 class=\"mv-title-h3\">Detalle del elemento</h3>\n<table class=\"mv-evidence-table\">\n<tr><td>Campo</td><td>Valor</td></tr>\n<tr><td>Enlace</td><td><a href=\"{{source_url}}\" target=\"_blank\" rel=\"noopener noreferrer\">Abrir documento</a></td></tr>\n...\n</table>\n\n<div class=\"mv-evidence-box\">\nArchivo: {{archivo}} – Hoja: {{hoja}} – Fila: {{fila}}\n</div>\n\nNOTA: Usar metadata.source_url para el enlace.\n\n===============================================================\nCUANDO NO HAY EVIDENCIA\n===============================================================\n\nSi NO encuentras resultados con la búsqueda exacta, responde:\n\n{\n\"output\": \"<div class='mv-no-results'><h3 class='mv-title-h3'>❌ No se encontró información</h3><p>No se encontraron documentos o registros que contengan: <strong>[término exacto buscado]</strong></p><h4>Sugerencias de búsqueda:</h4><ul><li>Prueba con: '[sugerencia 1]'</li><li>Prueba con: '[sugerencia 2]'</li><li>Prueba con: '[sugerencia 3]'</li></ul><p><em>Tip: Intenta usar términos más generales o palabras clave específicas.</em></p></div>\"\n}\n\n**IMPORTANTE para las sugerencias:**\n- Sugiere términos relacionados comunes en auditoría ISO 27001\n- Basándote en el contexto de la pregunta original\n- Ejemplos útiles según el caso:\n  * Si busca \"matriz de riesgos operacionales\" → sugiere \"riesgos\", \"matriz\", \"activos\"\n  * Si busca \"política de seguridad física\" → sugiere \"seguridad\", \"políticas\", \"control de acceso\"\n  * Si busca \"backup incremental\" → sugiere \"backup\", \"respaldo\", \"continuidad\"\n\n===============================================================\nREGLA DE ENLACES\n===============================================================\n\nPara TODOS los enlaces en HTML:\n- SIEMPRE usar metadata.source_url o source_url\n- NUNCA usar bitrixDetailUrl, bitrixId u otros campos\n- Si source_url no existe → \"Sin enlace disponible\"\n\n===============================================================\nREGLA FINAL\n===============================================================\n\nSiempre responde exclusivamente HTML en el campo \"output\".  \nNunca inventes información.  \nBusca SOLO con los términos exactos proporcionados por el usuario.\nNO busques variaciones ni sinónimos automáticamente.\nSi NO hay resultados, informa claramente y ofrece 3 sugerencias de búsqueda relevantes.\nSiempre usa la herramienta correcta según el tipo de consulta.  \nSiempre responde en español."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        832,
        -1216
      ],
      "id": "6f99c55f-2a82-46e6-b9ae-18be859fec5e",
      "name": "AI Agent ZEI1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        592,
        -992
      ],
      "id": "6ffb5399-4557-42d6-8f1b-972bc03677db",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agentISO27001",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        352,
        -1216
      ],
      "id": "c3060694-14d8-44ea-a716-30b61c87d26e",
      "name": "Webhook",
      "webhookId": "1c8d45e7-24a6-4d80-b05f-867c33711988"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1568,
        -1216
      ],
      "id": "d91930b0-ea93-42aa-8088-f043519d9e68",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// 1. Desencapsular JSON anidado\nlet raw = $json.output;\n\nif (typeof raw === \"string\") {\n  try {\n    raw = JSON.parse(raw);\n  } catch (e) {\n    return { output: \"❌ Error al parsear salida: \" + e.message };\n  }\n}\n\n// 2. Obtener HTML del agente\nlet html = raw.output || \"\";\n\n// ELIMINAR LA SECCIÓN DE RESPUESTA COMPLETA\n// Esto elimina desde el <h3>Respuesta</h3> hasta antes de <div class=\"mv-evidence-box\">\nhtml = html.replace(\n  /<h3 class=['\"]mv-title-h3['\"]>Respuesta<\\/h3>[\\s\\S]*?(?=<div class=['\"]mv-evidence-box['\"]>)/i,\n  \"\"\n);\n\n\n// 3. EXTRAER TODAS LAS FILAS DEL <table>\nconst tableMatch = html.match(/<table[\\s\\S]*?<\\/table>/i);\nif (!tableMatch) {\n  return { output: html };\n}\n\nlet tableHtml = tableMatch[0];\n\n// Extraer filas individuales\nconst rows = [...tableHtml.matchAll(/<tr>([\\s\\S]*?)<\\/tr>/gi)].map(r => r[0]);\n\n// Crear diccionario para las filas encontradas\nlet map = {\n  documento: null,\n  ubicacion: null,\n  pagina: null,\n  enlace: null,\n  seccion: null,\n  descripcion: null\n};\n\n// Clasificar filas por su título\nfor (const row of rows) {\n  const lower = row.toLowerCase();\n  if (lower.includes(\"<td>documento\")) map.documento = row;\n  else if (lower.includes(\"<td>ubicación\")) map.ubicacion = row;\n  else if (lower.includes(\"<td>página\") || lower.includes(\"<td>pagina\")) map.pagina = row;\n  else if (lower.includes(\"<td>enlace\")) map.enlace = row;\n  else if (lower.includes(\"<td>sección\") || lower.includes(\"<td>seccion\")) map.seccion = row;\n  else if (lower.includes(\"<td>descripción\") || lower.includes(\"<td>descripcion\")) map.descripcion = row;\n}\n\n// 4. RECONSTRUIR LA TABLA EN EL ORDEN CORRECTO\nlet newTable =\n  \"<table class=\\\"mv-evidence-table\\\">\" +\n  (map.documento || \"\") +\n  (map.ubicacion || \"\") +\n  (map.pagina || \"\") +\n  (map.enlace || \"\") +\n  (map.seccion || \"\") +\n  (map.descripcion || \"\") +\n  \"</table>\";\n\n// 5. Reemplazar tabla original\nhtml = html.replace(tableHtml, newTable);\n\n// 6. Devolver HTML corregido\nreturn {\n  output: html\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -1216
      ],
      "id": "50645436-32b5-47b8-a8fe-c49d8747801d",
      "name": "Ordenar campos"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca en el vector store de Pinecone la información solicitada. \nDevuelve SIEMPRE el resultado completo del vector en formato JSON, \nincluyendo los campos:\n- metadata.source_url\n\nNo resumas ni reescribas los resultados, devuélvelos tal como los recibe del vector.",
        "pineconeIndex": {
          "__rl": true,
          "value": "iso-27001xlsx",
          "mode": "list",
          "cachedResultName": "iso-27001xlsx"
        },
        "topK": 300,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1168,
        -992
      ],
      "id": "a9c58305-cef2-4fba-9566-0ce09346bcc1",
      "name": "xlsx",
      "credentials": {
        "pineconeApi": {
          "id": "pOOSmWGE6fHNq5oR",
          "name": "PineconeApi EA"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca en el vector store de Pinecone la información solicitada. \nDevuelve SIEMPRE el resultado completo del vector en formato JSON, \nincluyendo los campos:\n- metadata.document\n- metadata.page\n- metadata.section\n- metadata.description\n- metadata.source_url\n- metadata.compliance\n- pageContent\n\nNo resumas ni reescribas los resultados, devuélvelos tal como los recibe del vector.",
        "pineconeIndex": {
          "__rl": true,
          "value": "iso-27001",
          "mode": "list",
          "cachedResultName": "iso-27001"
        },
        "topK": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        896,
        -992
      ],
      "id": "fc13007d-e196-49a5-ab4a-f42dc377650e",
      "name": "pdf/text",
      "credentials": {
        "pineconeApi": {
          "id": "pOOSmWGE6fHNq5oR",
          "name": "PineconeApi EA"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "3a31d76d-07ed-49c0-9737-c46c30aed56e",
      "name": "emb1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        896,
        -752
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1168,
        -752
      ],
      "id": "0fff54e3-2d00-4dc4-ac6f-15af3a9f934c",
      "name": "emb",
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId || $json.sessionId || $json.headers[\"x-real-ip\"] || \"anon\" }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        752,
        -992
      ],
      "id": "8a3d4c9c-ff6c-4cc9-8665-9cac876bdd22",
      "name": "Simple Memory",
      "disabled": true
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mobilvendor.com",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36 Edg/142.0.0.0",
            "content-length": "74",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.9,es-ES;q=0.8,en;q=0.7,en-GB;q=0.6,en-US;q=0.5",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Microsoft Edge\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "172.19.0.1",
            "x-forwarded-host": "n8n.mobilvendor.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "b914648e9224",
            "x-real-ip": "172.19.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "sessionId": "session_1760714905168_84vpku",
            "message": "matriz de riesgos"
          },
          "webhookUrl": "https://n8n.mobilvendor.com/webhook/agentISO27001",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-16T03:35:40.757Z",
      "updatedAt": "2025-11-16T03:35:40.757Z",
      "role": "workflow:owner",
      "workflowId": "3GDugNiQuYwyfjTE",
      "projectId": "IcIKCrtLDXlTBTP5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-16T20:18:21.000Z",
  "versionId": "bd175b52-437a-4fb8-b3d6-ae05df8b1335"
}