workflows/7ZMB64hDDYT0TTct.json
{
  "active": true,
  "connections": {
    "AI Agent ZEI1": {
      "main": [
        [
          {
            "node": "Ordenar campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ordenar campos": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "lista documentos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-03T13:58:39.153Z",
  "id": "7ZMB64hDDYT0TTct",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente busqueda documental",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "================================================================\nMODO LISTA DE DOCUMENTOS (USAR: lista_documentos)\n===============================================================\n\nEste modo se activa cuando el usuario pida:\n\n- \"listar documentos\"\n- \"qué documentos existen\"\n- \"buscar documento\"\n- \"políticas\"\n- \"procedimientos\"\n- \"mostrar todas las evidencias\"\n- \"documentos de Seguridad de la Información\"\n- \"documentos de la carpeta X\"\n- \"documento con nombre X\"\n- Cualquier consulta que haga referencia a archivos PDF/DOCX/XLSX sin pedir contenido interno\n\nEn este modo debes usar exclusivamente la herramienta:\n👉 **lista_documentos**\n\nLa herramienta lista_documentos contiene columnas:\n- fileName  \n- extension  \n- ubicacion  \n- bitrixId  \n- source_url  \n- bitrixDetailUrl  \n- (otras columnas no relevantes deben ignorarse)\n\n===============================================================\nREGLAS DE BÚSQUEDA\n===============================================================\n\n✔ Debes filtrar resultados según coincidencia con la solicitud  \n✔ Coincidencia parcial del nombre es válida  \n✔ Coincidencia por carpeta = usar metadata.ubicacion  \n✔ Si hay varios resultados → listarlos todos  \n✔ Nunca inventar documentos  \n✔ Nunca usar otros vector stores cuando se detecte este modo  \n✔ Siempre responder en HTML dentro del campo output\n\n===============================================================\nFORMATO DE RESPUESTA LISTA DOCUMENTOS\n===============================================================\n\n{\n\"output\": \"<h3 class='mv-title-h3'>Listado de documentos</h3>\n<ul>\n<li>{{fileName}} — {{extension}} — {{ubicacion}} — \n<a href='{{source_url}}' target='_blank' rel='noopener noreferrer'>Abrir</a></li>\n</ul>\"\n}\n\nPara cada documento encontrado debes generar un <li>.\n\nSi el documento NO tiene source_url:\n→ “Sin enlace disponible”\n\n===============================================================\nFORMATO DE RESPUESTA PARA DOCUMENTO ÚNICO\n===============================================================\n\n{\n\"output\": \"<h3 class='mv-title-h3'>Documento encontrado</h3>\n<table class='mv-evidence-table'>\n<tr><td>Nombre</td><td>{{fileName}}</td></tr>\n<tr><td>Ubicación</td><td>{{ubicacion}}</td></tr>\n<tr><td>Extensión</td><td>{{extension}}</td></tr>\n<tr><td>Bitrix ID</td><td>{{bitrixId}}</td></tr>\n<tr><td>Enlace</td><td><a href='{{source_url}}' target='_blank' rel='noopener noreferrer'>Abrir documento</a></td></tr>\n</table>\"\n}\n\n===============================================================\nCUANDO NO SE ENCUENTRA NINGÚN DOCUMENTO\n===============================================================\n\n{\n\"output\": \"❌ No se encontraron documentos que coincidan con la búsqueda.\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        480,
        0
      ],
      "id": "8b6901b3-4b70-4044-a03c-e25f2d51a66d",
      "name": "AI Agent ZEI1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        224
      ],
      "id": "6c6308bd-55ae-4ba3-a7e8-8e2a68d0a277",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agentISO27001doc",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ebb17593-3bd1-4c01-8e74-5d7e062f864b",
      "name": "Webhook",
      "webhookId": "1c8d45e7-24a6-4d80-b05f-867c33711988"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1216,
        0
      ],
      "id": "53039aa3-464e-4639-8e2b-27db5ea3093f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// 1. Desencapsular JSON anidado\nlet raw = $json.output;\n\nif (typeof raw === \"string\") {\n  try {\n    raw = JSON.parse(raw);\n  } catch (e) {\n    return { output: \"❌ Error al parsear salida: \" + e.message };\n  }\n}\n\n// 2. Obtener HTML del agente\nlet html = raw.output || \"\";\n\n// ELIMINAR LA SECCIÓN DE RESPUESTA COMPLETA\n// Esto elimina desde el <h3>Respuesta</h3> hasta antes de <div class=\"mv-evidence-box\">\nhtml = html.replace(\n  /<h3 class=['\"]mv-title-h3['\"]>Respuesta<\\/h3>[\\s\\S]*?(?=<div class=['\"]mv-evidence-box['\"]>)/i,\n  \"\"\n);\n\n\n// 3. EXTRAER TODAS LAS FILAS DEL <table>\nconst tableMatch = html.match(/<table[\\s\\S]*?<\\/table>/i);\nif (!tableMatch) {\n  return { output: html };\n}\n\nlet tableHtml = tableMatch[0];\n\n// Extraer filas individuales\nconst rows = [...tableHtml.matchAll(/<tr>([\\s\\S]*?)<\\/tr>/gi)].map(r => r[0]);\n\n// Crear diccionario para las filas encontradas\nlet map = {\n  documento: null,\n  ubicacion: null,\n  pagina: null,\n  enlace: null,\n  seccion: null,\n  descripcion: null\n};\n\n// Clasificar filas por su título\nfor (const row of rows) {\n  const lower = row.toLowerCase();\n  if (lower.includes(\"<td>documento\")) map.documento = row;\n  else if (lower.includes(\"<td>ubicación\")) map.ubicacion = row;\n  else if (lower.includes(\"<td>página\") || lower.includes(\"<td>pagina\")) map.pagina = row;\n  else if (lower.includes(\"<td>enlace\")) map.enlace = row;\n  else if (lower.includes(\"<td>sección\") || lower.includes(\"<td>seccion\")) map.seccion = row;\n  else if (lower.includes(\"<td>descripción\") || lower.includes(\"<td>descripcion\")) map.descripcion = row;\n}\n\n// 4. RECONSTRUIR LA TABLA EN EL ORDEN CORRECTO\nlet newTable =\n  \"<table class=\\\"mv-evidence-table\\\">\" +\n  (map.documento || \"\") +\n  (map.ubicacion || \"\") +\n  (map.pagina || \"\") +\n  (map.enlace || \"\") +\n  (map.seccion || \"\") +\n  (map.descripcion || \"\") +\n  \"</table>\";\n\n// 5. Reemplazar tabla original\nhtml = html.replace(tableHtml, newTable);\n\n// 6. Devolver HTML corregido\nreturn {\n  output: html\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        0
      ],
      "id": "ee28698f-c3f3-48f8-a9ac-8d6cbfcbbb51",
      "name": "Ordenar campos"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId || $json.sessionId || $json.headers[\"x-real-ip\"] || \"anon\" }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        400,
        224
      ],
      "id": "8ac00292-c30c-4874-a39f-da28858bb24f",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LwGhXktdAPmm1ckrkoJdcpzPiCNbgpIg9vIWBguYlBk",
          "mode": "list",
          "cachedResultName": "Documentos_ISO 27001",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LwGhXktdAPmm1ckrkoJdcpzPiCNbgpIg9vIWBguYlBk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LwGhXktdAPmm1ckrkoJdcpzPiCNbgpIg9vIWBguYlBk/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        640,
        224
      ],
      "id": "49477695-eff6-452b-b42a-0cf7a0fd2460",
      "name": "lista documentos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fm3jifX2nPTobuSZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=(function(){\n  if (window.MobilvendorWidgetLoaded) return;\n  window.MobilvendorWidgetLoaded = true;\n\n  const WEBHOOK_URL = \"https://n8n.mobilvendor.com/webhook/agentISO27001doc\";\n  const BOT_IMG = \"https://ik.imagekit.io/nm4jeymx5/Asistente-03-Mobilvendor.jpg?updatedAt=1760720233657\";\n\n  const widget = document.createElement(\"div\");\n  widget.id = \"mv-widget\";\n  widget.innerHTML = `\n    <img id=\"mv-bot\" src=\"${BOT_IMG}\" alt=\"Agente ISO27001 Mobilvendor(Documentos)\"/>\n    <div id=\"mv-chatbox\" style=\"display:none; flex-direction:column;\">\n      <div id=\"mv-header\">\n        <div class=\"mv-header-top\">\n          <img src=\"${BOT_IMG}\" alt=\"ZEI Bot\" class=\"mv-avatar\"/>\n          <span class=\"mv-title\">Agente ISO27001 Mobilvendor</span>\n        </div>\n        <div id=\"mv-header-bar\"></div>\n      </div>\n      <div id=\"mv-messages\"></div>\n      <div id=\"mv-footer\">\n        <input id=\"mv-input\" type=\"text\" placeholder=\"Escribe tu mensaje...\" autocomplete=\"off\"/>\n        <button id=\"mv-send\" title=\"Enviar\">\n          <svg width=\"24\" height=\"24\" fill=\"#fff\" viewBox=\"0 0 24 24\"><path d=\"M2 21l21-9L2 3v7l15 2-15 2v7z\"></path></svg>\n        </button>\n      </div>\n    </div>\n  `;\n  document.body.appendChild(widget);\n\n  const style = document.createElement(\"style\");\n  style.textContent = `\n    #mv-widget { position:fixed; bottom:24px; right:24px; z-index:99999; font-family:'Segoe UI',Arial,sans-serif;}\n\n    #mv-bot {\n      width:72px;height:72px;border-radius:50%;cursor:pointer;\n      box-shadow:0 10px 30px rgba(0,55,255,0.20);\n      transition:transform 0.18s ease, box-shadow 0.18s ease;\n      border:4px solid #fff;background:#fff;\n    }\n    #mv-bot:hover { transform:scale(1.07); box-shadow:0 12px 36px rgba(0,55,255,0.28); }\n\n    #mv-chatbox {\n      position:fixed; bottom:110px; right:32px; width:380px; background:#fff;\n      border-radius:22px;box-shadow:0 10px 50px rgba(0,0,0,0.15);\n      flex-direction:column;display:none;overflow:hidden;\n    }\n\n    #mv-header { background:linear-gradient(90deg, #0037ff 0%, #063bce 100%); padding:12px 14px 0 14px; }\n    #mv-header .mv-header-top { display:flex;align-items:center;gap:10px; padding:8px 6px 10px 6px; }\n    #mv-header .mv-avatar { width:26px;height:26px;border-radius:50%; border:2px solid rgba(255,255,255,0.75); background:#fff; }\n    #mv-header .mv-title { color:#ffffff; font-weight:700;font-size:16px; }\n    #mv-header-bar { height:4px;width:100%; background:#0037ff; }\n    #mv-header-bar.active { background:#002B49; }\n\n    #mv-messages {\n      max-height:420px;min-height:140px;overflow-y:auto;padding:14px 12px;background:#fafafa;\n      display:flex;flex-direction:column;gap:10px;\n    }\n\n    /* Caja evidencia */\n    .mv-evidence-box {\n      background:#f4f7ff;\n      border:1.5px solid #0037ff33;\n      border-radius:14px;\n      padding:14px 16px;\n      margin-top:8px;\n      margin-bottom:12px;\n      width: 100%;\n      box-sizing: border-box;\n      overflow-wrap: break-word;\n    }\n\n    .mv-title-h3 { font-size:16px; font-weight:700; color:#0037ff; margin-bottom:6px; margin-top:10px; }\n\n    .mv-fragment {\n      background:#ffffff;\n      border-left:4px solid #063bce;\n      padding:10px 14px;\n      margin-top:10px;\n      border-radius:10px;\n      font-size:14px;\n      line-height:1.45;\n      color:#333;\n      box-sizing: border-box;\n    }\n\n    .mv-evidence-table { \n      width:100%; \n      border-collapse:collapse; \n      margin-top:6px; \n      font-size:14px; \n      table-layout: fixed;\n    }\n\n    /* --- CAMBIO AQUÍ: Justificación del texto --- */\n    .mv-evidence-table td { \n      padding:6px 4px; \n      border-bottom:1px solid #e1e7ff; \n      word-wrap: break-word;\n      overflow-wrap: break-word;\n      text-align: justify; /* Justifica el texto del contenido */\n      -webkit-hyphens: auto; /* Ayuda a cortar palabras largas elegantemente */\n      hyphens: auto;\n    }\n\n    /* La primera columna (etiquetas) se mantiene a la izquierda */\n    .mv-evidence-table td:first-child { \n      font-weight:600; \n      color:#063bce; \n      width: 35%; \n      text-align: left; \n    }\n\n    /* Render HTML */\n    .mv-message-text table { width: 100%; border-collapse: collapse; margin-top: 10px; }\n    .mv-message-text td { padding: 6px 4px; }\n    .mv-message-text ul { margin-left: 18px; margin-top: 10px; margin-bottom: 10px; }\n    .mv-message-text li { margin-bottom: 6px; }\n    .mv-message-text p { margin-bottom: 8px; line-height: 1.45; }\n\n    #mv-messages::-webkit-scrollbar { width:8px; }\n    #mv-messages::-webkit-scrollbar-thumb { background:#0037ff;border-radius:10px; }\n\n    .mv-message-container { display:flex; width: 100%; }\n\n    /* Alineación */\n    .mv-message-container.user { justify-content:flex-end; }\n    .mv-message-container.bot { justify-content:flex-start; }\n\n    /* Burbujas */\n    .mv-message {\n      border-radius:12px;\n      padding:12px 14px;\n      max-width: 85%;\n      box-sizing: border-box;\n      position: relative;\n    }\n    \n    .mv-message-container.bot .mv-message {\n       max-width: 90%;\n    }\n\n    .mv-message-text { \n      text-align: left; \n      white-space: pre-wrap; \n      font-size:14px; \n      word-break: break-word;\n      width: 100%;\n    }\n    .mv-message-text a { color:#0037ff;text-decoration:underline; word-break: break-all; }\n\n    #mv-footer { display:flex;align-items:center;gap:8px; padding:10px 12px 12px; background:#fff; }\n    #mv-input { flex:1;padding:12px;border:1.5px solid #0037ff;border-radius:12px; font-size:15px; }\n    #mv-send { width:44px;height:44px;border:none;border-radius:12px;background:#0037ff;color:#fff; cursor:pointer; }\n\n    /* =================== PERSONALIZACIONES =================== */\n\n    .mv-message-sender {\n      font-weight: 700;\n      margin-bottom: 6px;\n      display: block;\n    }\n\n    /* Usuario: azul pastel */\n    .mv-message-container.user .mv-message {\n      background:#dbe7ff;\n      border:1px solid #b4ccff;\n      color:#003b8e;\n      border-radius:16px 16px 4px 16px;\n    }\n\n    /* Agente: violeta pastel */\n    .mv-message-container.bot .mv-message {\n      background:#efe6ff;\n      border:1px solid #d8c8ff;\n      color:#4a2b8a;\n      border-radius:16px 16px 16px 4px;\n    }\n\n    .mv-message-time {\n      font-size:11px !important;\n      opacity:0.65;\n      margin-top:8px;\n      display:block;\n      text-align:right;\n    }\n  `;\n  document.head.appendChild(style);\n\n  // Sanitizador\n  function sanitizeWithLinks(html) {\n    const allowedTags = [\"a\",\"p\",\"strong\",\"b\",\"i\",\"em\",\"u\",\"div\",\"span\",\"br\",\"hr\",\"h3\",\"ul\",\"ol\",\"li\",\"table\",\"thead\",\"tbody\",\"tr\",\"td\",\"th\"];\n    const allowedAttrs = [\"href\",\"target\",\"rel\",\"class\"];\n    const div = document.createElement(\"div\");\n    div.innerHTML = html;\n    const walker = document.createTreeWalker(div, NodeFilter.SHOW_ELEMENT, null);\n    const toRemove = [];\n    while (walker.nextNode()) {\n      const el = walker.currentNode;\n      if (!allowedTags.includes(el.tagName.toLowerCase())) { toRemove.push(el); continue; }\n      [...el.attributes].forEach(attr => {\n        if (!allowedAttrs.includes(attr.name.toLowerCase())) el.removeAttribute(attr.name);\n      });\n      if (el.tagName.toLowerCase() === \"a\") {\n        el.setAttribute(\"target\",\"_blank\");\n        el.setAttribute(\"rel\",\"noopener noreferrer\");\n      }\n    }\n    toRemove.forEach(el => el.remove());\n    return div.innerHTML;\n  }\n\n  function sanitize(text){\n    const div=document.createElement(\"div\");\n    div.textContent=String(text ?? \"\");\n    return div.innerHTML;\n  }\n\n  function appendMessage(sender, text, isUser=false){\n    const container=document.createElement(\"div\");\n    container.className=`mv-message-container ${isUser?'user':'bot'}`;\n\n    const now=new Date();\n    const time=now.getHours().toString().padStart(2,'0')+':'+now.getMinutes().toString().padStart(2,'0');\n\n    const safeSender=sanitize(sender);\n    const safeText=isUser?sanitize(text):sanitizeWithLinks(text);\n\n    container.innerHTML=`\n      <div class=\"mv-message\">\n        <span class=\"mv-message-sender\">${safeSender}</span>\n        <div class=\"mv-message-text\">${safeText}</div>\n        <span class=\"mv-message-time\">${time}</span>\n      </div>\n    `;\n\n    messages.appendChild(container);\n    messages.scrollTop=messages.scrollHeight;\n  }\n\n  const bot = widget.querySelector(\"#mv-bot\");\n  const chatbox = widget.querySelector(\"#mv-chatbox\");\n  const input = widget.querySelector(\"#mv-input\");\n  const messages = widget.querySelector(\"#mv-messages\");\n  const sendBtn = widget.querySelector(\"#mv-send\");\n  const headerBar = widget.querySelector(\"#mv-header-bar\");\n\n  const sessionKey=\"zeiSessionId\";\n  let sessionId=localStorage.getItem(sessionKey);\n  if(!sessionId){\n    sessionId=\"session_\"+Date.now()+\"_\"+Math.random().toString(36).substring(2,8);\n    localStorage.setItem(sessionKey,sessionId);\n  }\n\n  bot.addEventListener(\"click\",()=>{\n    const showing = chatbox.style.display !== \"none\";\n    chatbox.style.display = showing ? \"none\" : \"flex\";\n\n    if(!showing && !chatbox.dataset.greeted){\n      appendMessage(\"Agente\",\"¡Hola! 👋 Soy tu agente ISO27001 Mobilvendor. ¿En qué puedo ayudarte hoy?\");\n      chatbox.dataset.greeted=true;\n    }\n    if(!showing) input.focus();\n  });\n\n  input.addEventListener(\"focus\",()=>headerBar.classList.add(\"active\"));\n  input.addEventListener(\"blur\",()=>headerBar.classList.remove(\"active\"));\n\n  function sendMessage(){\n    const msg=input.value.trim();\n    if(!msg) return;\n\n    appendMessage(\"Tú\",msg,true);\n\n    input.value=\"\";\n    input.disabled=true;\n    sendBtn.disabled=true;\n\n    fetch(WEBHOOK_URL,{\n      method:\"POST\",\n      headers:{\"Content-Type\":\"application/json\"},\n      body:JSON.stringify({sessionId,message:msg})\n    })\n    .then(r=>r.json())\n    .then(data=>{\n      const out=data.output || data.message || \"Sin respuesta\";\n      appendMessage(\"Agente\",out);\n    })\n    .catch(err=>{\n      appendMessage(\"Agente\",\"❌ Ocurrió un error procesando tu mensaje.\");\n    })\n    .finally(()=>{\n      input.disabled=false;\n      sendBtn.disabled=false;\n      input.focus();\n    });\n  }\n\n  input.addEventListener(\"keypress\",e=>{ if(e.key===\"Enter\") sendMessage(); });\n  sendBtn.addEventListener(\"click\",sendMessage);\n\n})();",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/javascript"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        400,
        528
      ],
      "id": "b5b06b89-c382-4dd3-b8e7-c6da2f09a536",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "path": "widget-seg-documental",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        528
      ],
      "id": "b027e9b4-b4cc-42d0-96bc-40f8f00d80e1",
      "name": "Webhook1",
      "webhookId": "c3a6035e-6f03-4224-86d5-1576b5827ee5"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-12-03T13:58:39.167Z",
      "updatedAt": "2025-12-03T13:58:39.167Z",
      "role": "workflow:owner",
      "workflowId": "7ZMB64hDDYT0TTct",
      "projectId": "IcIKCrtLDXlTBTP5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-12-03T14:24:22.000Z",
  "versionId": "cb8a16c3-73ce-4715-8c4c-512782e54ca4"
}