workflows/E3YYhR3Pmlz27asw.json
{
  "active": false,
  "connections": {
    "AI Sales Agent": {
      "main": [
        [
          {
            "node": "Reply To User",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Chat Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Sales Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Handle Message Types": {
      "main": [
        [
          {
            "node": "Lookup MQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply To User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Sales Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Handle Message Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Lookup MQL": {
      "main": [
        [
          {
            "node": "Decide Mode & Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Mode & Build Prompt": {
      "main": [
        [
          {
            "node": "AI Sales Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Chat Data": {
      "main": [
        [
          {
            "node": "Should Update Sheet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Update Sheet?": {
      "main": [
        [
          {
            "node": "Update Chat Data Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Sales Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Sales Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool1": {
      "ai_tool": [
        [
          {
            "node": "AI Sales Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Handle Message Types1": {
      "main": [
        [
          {
            "node": "Lookup MQL1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply To User3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Sales Agent1": {
      "main": [
        [
          {
            "node": "Reply To User2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Chat Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger1": {
      "main": [
        [
          {
            "node": "Handle Message Types1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Lookup MQL1": {
      "main": [
        [
          {
            "node": "Decide Mode & Build Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Mode & Build Prompt1": {
      "main": [
        [
          {
            "node": "AI Sales Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Chat Data1": {
      "main": [
        [
          {
            "node": "Google Sheets Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-05T20:22:07.333Z",
  "id": "E3YYhR3Pmlz27asw",
  "isArchived": true,
  "meta": null,
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o-2024-08-06",
        "options": {}
      },
      "id": "24d6e536-0ee3-465e-a753-0b135044ae1b",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1264,
        96
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=whatsapp-75-{{ $json.messages[0].from }}"
      },
      "id": "787f220c-0ab3-4333-bae9-0d4d670c660a",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -1072,
        96
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "name": "query_product_brochure",
        "description": "Llama a esta herramienta para consultar el folleto del producto."
      },
      "id": "7514fc99-9668-4f9b-92ab-769d376c9984",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        -928,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "95dd4d02-4ba7-433b-90c9-d9d3258073dc",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -1024,
        432
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-2024-08-06",
        "options": {}
      },
      "id": "7248c1e1-9029-4bb9-83fc-637369def557",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -720,
        272
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "102646042734013",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "id": "94cff11c-7ad1-45bb-9b3c-bd953f75f66e",
      "name": "Reply To User",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -528,
        -416
      ],
      "typeVersion": 1,
      "webhookId": "6e14d66d-402a-4902-b5d8-0a2bb5093a04",
      "credentials": {
        "whatsAppApi": {
          "id": "tk6zrwxJLxGE2YuG",
          "name": "WhatsApp account_TEST"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "102646042734013",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "I'm unable to process non-text messages. Please send only text messages. Thanks!",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "id": "41ca366a-6478-475e-b571-8d452b668eb4",
      "name": "Reply To User1",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -1216,
        272
      ],
      "typeVersion": 1,
      "webhookId": "8c255a5e-2062-48b2-bf98-abb7018cf9c0",
      "credentials": {
        "whatsAppApi": {
          "id": "tk6zrwxJLxGE2YuG",
          "name": "WhatsApp account_TEST"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "id": "00bb8648-47dd-4d18-8707-39dcf2863a0e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Supported"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "89971d8c-a386-4e77-8f6c-f491a8e84cb6",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Not Supported"
            }
          ]
        },
        "options": {}
      },
      "id": "a1382a28-8382-4572-8ff3-7b12e69f36a9",
      "name": "Handle Message Types",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1600,
        16
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WhatsApp Trigger').item.json.messages[0].text.body }}",
        "options": {
          "systemMessage": "={{ $('Decide Mode & Build Prompt').item.json.systemMessage }}"
        }
      },
      "id": "8497111a-2586-461d-93d4-1b2c912c6979",
      "name": "AI Sales Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1088,
        -128
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all",
            "read"
          ]
        }
      },
      "id": "abcb7091-9547-44ee-ac3a-92fb4671766d",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        -1808,
        16
      ],
      "webhookId": "aaa71f03-f7af-4d18-8d9a-0afb86f1b554",
      "typeVersion": 1,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "kTsS3qhdfuvH39pc",
          "name": "WhatsApp OAuth_MKT"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "brochure-index-llama",
          "mode": "list",
          "cachedResultName": "brochure-index-llama"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1008,
        272
      ],
      "id": "215abdbd-390e-4aad-ae4a-61d09a75e1ce",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "bqNx5oAwXmTYQGz2",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "1Jbi-HBW-Zd1ZurohDXfIf6P5y05_OsYdG6lPEhpIJGg",
        "range": "Hoja 1",
        "lookupColumn": "phone",
        "lookupValue": "={{ $json.messages[0].from }}",
        "options": {}
      },
      "id": "9656bd9d-bda3-4796-a07f-11cf2da336c5",
      "name": "Lookup MQL",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        -1296,
        -448
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fm3jifX2nPTobuSZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lee fila del Sheet (si existe) y decide el modo\n// Maneja tanto casos de éxito como de falla en el lookup\nlet row = {};\ntry {\n  // Intenta obtener datos del lookup, puede fallar si no existe la fila\n  const lookupResult = $input.first();\n  row = lookupResult?.json || {};\n} catch (error) {\n  // Si hay error en el lookup, asume que no hay datos\n  console.log('No se encontró registro para este teléfono');\n  row = {};\n}\n\nconst toBool = v => v === true || `${v}`.trim().toLowerCase() === \"true\";\n\n// Extrae valores MQL, por defecto false si no existen\nconst MQL1 = row.MQL1 ? toBool(row.MQL1) : false;\nconst MQL2 = row.MQL2 ? toBool(row.MQL2) : false;\n\n// Si no hay fila o alguna validación es false => qualification\nconst needsQualification = !(MQL1 && MQL2);\n\n// Construimos el systemMessage dinámico del agente\nconst AGENDA = \"👉 Agendar reunión con Mobilvendor https://outlook.office365.com/book/Mobilvendor_Comercial@mobilvendor.com/?ismsaljsauthenabled=true\";\n\nconst base = `Eres un asistente virtual de Mobilvendor para WhatsApp.\nUsa EXCLUSIVAMENTE la herramienta de búsqueda del folleto (vector store) para responder.\nSi algo no está en la base, responde: \"Lo siento, no dispongo de esa información en este momento.\"\nNo inventes.\n\nRecopilación natural de datos (sin fricción):\n- Nombre comercial o razón social\n- Breve descripción del giro/actividad\n- Correo corporativo (si tiene)\nSi el usuario no puede dar alguno, continúa sin problema.\n\nDerivación si piden contacto/demos: ${AGENDA}\n\nEstilo: conciso, claro, cercano, propio para WhatsApp.`;\n\nconst qualRules = `MODO=qualification\n- Empieza con UNA sola pregunta breve para completar datos faltantes (orden: razón social → giro → correo).\n- Si el usuario no tiene alguno, continúa sin problema.\n- En este mismo mensaje, comparte un resumen útil del folleto relacionado a su consulta (máx. 4 líneas) usando la herramienta de vector store.\n- Evita tecnicismos y no hagas preguntas en bloque; una por turno.`;\n\nconst ansRules = `MODO=answer\n- Responde directo con información del folleto (vector store).\n- Sé específico y breve.`;\n\nconst systemMessage = [base, needsQualification ? qualRules : ansRules].join(\"\\n\\n\");\n\nreturn {\n  json: {\n    systemMessage,\n    mode: needsQualification ? \"qualification\" : \"answer\",\n    MQL1, \n    MQL2,\n    hasRow: !!(row?.email || row?.phone) // Indica si existe registro en el sheet\n  }\n};"
      },
      "id": "00981cee-61f6-4eb6-96f6-68b4e43abcd1",
      "name": "Decide Mode & Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        -448
      ],
      "alwaysOutputData": true,
      "properties": {
        "mode": "runOnceForAllItems",
        "language": "JavaScript"
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrae información clave de la respuesta del agente para actualizar el sheet\n// Esto ayudará a mejorar futuras interacciones\n\nconst agentResponse = $('AI Sales Agent').item.json.output || \"\";\nconst userMessage = $('WhatsApp Trigger').item.json.messages[0].text.body || \"\";\nconst rawPhone = $('WhatsApp Trigger').item.json.messages[0].from || \"\";\nconst phone = rawPhone.startsWith('+') ? rawPhone : `+${rawPhone}`;\nconst hasExistingRow = $('Decide Mode & Build Prompt').item.json.hasRow || false;\n\n// Solo procesa si no hay registro existente y la respuesta sugiere que se recopiló info\nif (!hasExistingRow && agentResponse.length > 50) {\n  // Busca patrones de información empresarial en la conversación\n  const patterns = {\n    empresa: /(?:empresa|compañía|negocio|comercio)\\s*:?\\s*([^\\n.,]+)/i,\n    giro: /(?:giro|actividad|sector|industria|rubro)\\s*:?\\s*([^\\n.,]+)/i,\n    email: /([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/\n  };\n  \n  const fullText = userMessage + \" \" + agentResponse;\n  \n  const extractedData = {\n    phone: phone,\n    empresa: patterns.empresa.test(fullText) ? fullText.match(patterns.empresa)[1].trim() : \"\",\n    giro: patterns.giro.test(fullText) ? fullText.match(patterns.giro)[1].trim() : \"\",\n    email: patterns.email.test(fullText) ? fullText.match(patterns.email)[1] : \"\",\n    interaction_date: new Date().toISOString().split('T')[0],\n    source: \"whatsapp_chat\",\n    MQL1: false, // Datos incompletos por chat\n    MQL2: false  // Necesita validación adicional\n  };\n  \n  // Solo retorna si se extrajo al menos empresa o email\n  if (extractedData.empresa || extractedData.email) {\n    return { json: extractedData };\n  }\n}\n\n// Si no hay datos para procesar, retorna objeto vacío\nreturn { json: { shouldSkip: true } };"
      },
      "id": "af59dbdd-e32e-44f2-a9d9-6188747280ae",
      "name": "Extract Chat Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -128
      ],
      "alwaysOutputData": true,
      "properties": {
        "mode": "runOnceForAllItems",
        "language": "JavaScript"
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "should-update-sheet",
              "leftValue": "={{ $json.shouldSkip }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c0fb3d07-d864-4a3b-95cf-4ec3fc988ac1",
      "name": "Should Update Sheet?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -336,
        -128
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "1Jbi-HBW-Zd1ZurohDXfIf6P5y05_OsYdG6lPEhpIJGg",
        "range": "Hoja 1",
        "options": {}
      },
      "id": "bf4f61f6-9a33-4d0e-b518-dfa4bbe1a228",
      "name": "Update Chat Data Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        32,
        -144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fm3jifX2nPTobuSZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "### 3a. Manejar Tipos de Mensajes No Compatibles\nPara los mensajes que no son de texto, simplemente responderemos con un mensaje sencillo para informar al remitente.",
        "height": 151,
        "width": 338,
        "color": 7
      },
      "id": "03b87d53-3fc0-4be9-be0a-ba1aecb49c4e",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2176,
        2432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "2. El agente de IA de ventas responde a los clientes\n\n\nLos agentes de IA de n8n son nodos potentes que facilitan increíblemente el uso de la IA de última generación en sus flujos de trabajo. No solo tienen la capacidad de recordar conversaciones por cliente individual, sino que también aprovechan recursos como nuestro almacén de vectores del catálogo de productos para extraer información objetiva y datos para cada pregunta.\n\nUtilizamos un agente de IA que está dirigido a ayudar al usuario a navegar por el folleto del producto. Se adjunta un subnodo de memoria de chat para identificar y realizar un seguimiento de la sesión del cliente. Se agrega una herramienta de almacén de vectores para permitir que el agente acceda a la base de conocimientos del catálogo de productos que creamos anteriormente.",
        "height": 1185,
        "width": 891,
        "color": 6
      },
      "id": "7f652073-2895-4446-8862-c907f7f16727",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1808,
        1392
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "2. Responder al usuario de WhatsApp\n\nEl nodo de WhatsApp es la opción ideal si quieres interactuar con usuarios de WhatsApp. Con este nodo, puedes enviar mensajes de texto, imágenes, audio y vídeo, así como utilizar tus plantillas de mensajes de WhatsApp.\n\nAquí, lo mantendremos sencillo respondiendo con un mensaje de texto que es la salida del agente de IA.",
        "height": 484.1875,
        "width": 495.4375
      },
      "id": "7dbc60c4-4778-4011-b45d-b49ef41ffa2a",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        1664
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Activa tu flujo de trabajo para usarlo!\nPara comenzar a usar el chatbot de WhatsApp, deberás activar el flujo de trabajo. Si te auto-hospedas, asegúrate de que WhatsApp pueda conectarse a tu servidor.\n",
        "height": 107.02804651162779,
        "width": 364.6293255813954,
        "color": 5
      },
      "id": "f591112e-1888-426e-a741-8ab49b30b026",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2384,
        2288
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "3. Usa el disparador de WhatsApp\n\n\nEl disparador de WhatsApp te permite recibir mensajes entrantes de WhatsApp de tus clientes. Requiere un poco de configuración, ¡así que recuerda seguir la documentación cuidadosamente! Sin embargo, una vez listo, es bastante fácil construir flujos de trabajo potentes que sean fácilmente accesibles para los usuarios.\n\nTen en cuenta que WhatsApp puede enviar muchos tipos de mensajes, como audio y vídeo, por lo que en esta demostración, los filtraremos y solo aceptaremos los mensajes de texto.",
        "height": 484.1875,
        "width": 546.6875,
        "color": 4
      },
      "id": "85fa7b77-6a8c-4437-bf59-ec69e94a3639",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2400,
        1760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "TU_SHEET_ID",
        "range": "Respuestas!A:D",
        "options": {}
      },
      "id": "5865b5a9-337c-43bd-bfc4-1d21ed39cde8",
      "name": "Google Sheets Save",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        -416,
        2208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fm3jifX2nPTobuSZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-2024-08-06",
        "options": {}
      },
      "id": "ea8c7f2b-1bd4-497d-95ac-0d590c38a4e7",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1376,
        2144
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=whatsapp-75-{{ $json.messages[0].from }}"
      },
      "id": "884c1989-9224-4b9f-bfce-e1db25a180d8",
      "name": "Window Buffer Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -1280,
        2144
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "name": "query_product_brochure",
        "description": "Llama a esta herramienta para consultar el folleto del producto."
      },
      "id": "dbbc64c3-9dca-457e-be92-ab9041e7c1ee",
      "name": "Vector Store Tool1",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        -1168,
        2144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "8b5e053a-36bb-4828-b8a9-0aeee7de8b2d",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -1312,
        2464
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o-2024-08-06",
        "options": {}
      },
      "id": "b732e126-0d7c-4162-8a94-652d82759e19",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -1008,
        2304
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "102646042734013",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "id": "a7483f75-58ca-4f73-9893-aa864e81d645",
      "name": "Reply To User2",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -688,
        1936
      ],
      "typeVersion": 1,
      "webhookId": "6e14d66d-402a-4902-b5d8-0a2bb5093a04",
      "credentials": {
        "whatsAppApi": {
          "id": "tk6zrwxJLxGE2YuG",
          "name": "WhatsApp account_TEST"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "102646042734013",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger1').item.json.messages[0].from }}",
        "textBody": "=I'm unable to process non-text messages. Please send only text messages. Thanks!",
        "additionalFields": {
          "previewUrl": false
        }
      },
      "id": "02566726-e433-4944-a1b5-549f8bf1f2b9",
      "name": "Reply To User3",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        -1696,
        2304
      ],
      "typeVersion": 1,
      "webhookId": "8c255a5e-2062-48b2-bf98-abb7018cf9c0",
      "credentials": {
        "whatsAppApi": {
          "id": "tk6zrwxJLxGE2YuG",
          "name": "WhatsApp account_TEST"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text",
                    "id": "85c7c02c-63f4-4313-96c9-98b063c88444"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Supported"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "89971d8c-a386-4e77-8f6c-f491a8e84cb6",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "leftValue": "={{ $json.messages[0].type }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Not Supported"
            }
          ]
        },
        "options": {}
      },
      "id": "2dba3e6c-7465-4ecc-9b47-9eebd535e15a",
      "name": "Handle Message Types1",
      "type": "n8n-nodes-base.switch",
      "position": [
        -2080,
        2048
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Decide Mode & Build Prompt1').item.json.systemMessage }}",
        "options": {
          "systemMessage": "={{ $('Decide Mode & Build Prompt1').item.json.systemMessage }}"
        }
      },
      "id": "9a9adf9d-6b3b-42d3-99d2-63c63905d922",
      "name": "AI Sales Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1232,
        1936
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all",
            "read"
          ]
        }
      },
      "id": "dd40aa87-61f9-4470-b41c-4abf71d42d7c",
      "name": "WhatsApp Trigger1",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        -2288,
        2048
      ],
      "webhookId": "aaa71f03-f7af-4d18-8d9a-0afb86f1b554",
      "typeVersion": 1,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "kTsS3qhdfuvH39pc",
          "name": "WhatsApp OAuth_MKT"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "brochure-index-llama",
          "mode": "list",
          "cachedResultName": "brochure-index-llama"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1312,
        2304
      ],
      "id": "123a1eca-e5d0-4e2e-8176-fe99d51c573f",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "bqNx5oAwXmTYQGz2",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": "1Jbi-HBW-Zd1ZurohDXfIf6P5y05_OsYdG6lPEhpIJGg",
        "range": "Hoja 1",
        "lookupColumn": "phone",
        "lookupValue": "={{ $json.messages[0].from }}",
        "options": {}
      },
      "id": "3682b238-5b62-49cf-ab3e-96d1d2a684c1",
      "name": "Lookup MQL1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [
        -1728,
        1936
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fm3jifX2nPTobuSZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lee fila del Sheet (si existe) y decide el modo con análisis de conversación\n// Maneja tanto casos de éxito como de falla en el lookup\nlet row = {};\ntry {\n  // Intenta obtener datos del lookup, puede fallar si no existe la fila\n  const lookupResult = $input.first();\n  row = lookupResult?.json || {};\n} catch (error) {\n  // Si hay error en el lookup, asume que no hay datos\n  console.log('No se encontró registro para este teléfono');\n  row = {};\n}\n\nconst toBool = v => v === true || `${v}`.trim().toLowerCase() === \"true\";\n\n// Extrae valores MQL, por defecto false si no existen\nconst MQL1 = row.MQL1 ? toBool(row.MQL1) : false;\nconst MQL2 = row.MQL2 ? toBool(row.MQL2) : false;\n\n// Si no hay fila o alguna validación es false => qualification\nconst needsQualification = !(MQL1 && MQL2);\n\n// Obtener el mensaje del usuario para analizar contexto\nconst userMessage = $('WhatsApp Trigger1').item.json.messages[0].text.body || \"\";\n\n// Función para analizar qué información ya se tiene en la conversación\nfunction analyzeConversationContext(message, existingData = {}) {\n  const lowerMessage = message.toLowerCase();\n  \n  // Patrones para identificar información empresarial\n  const patterns = {\n    empresa: {\n      indicators: ['empresa', 'compañía', 'negocio', 'comercio', 'me llamo', 'soy', 'trabajo en', 'represento'],\n      data: existingData.empresa || \"\"\n    },\n    giro: {\n      indicators: ['dedicamos', 'vendemos', 'ofrecemos', 'servicio', 'productos', 'industria', 'sector', 'rubro', 'actividad'],\n      data: existingData.giro || \"\"\n    },\n    email: {\n      indicators: ['@', 'correo', 'email', 'contacto'],\n      data: existingData.email || \"\"\n    }\n  };\n\n  // Analizar qué información parece estar presente en el mensaje\n  const detectedInfo = {};\n  \n  for (const [key, info] of Object.entries(patterns)) {\n    const hasIndicators = info.indicators.some(indicator => lowerMessage.includes(indicator));\n    const hasExistingData = info.data && info.data.trim().length > 0;\n    \n    detectedInfo[key] = {\n      detected: hasIndicators,\n      hasData: hasExistingData,\n      needsInfo: !hasExistingData\n    };\n  }\n\n  return detectedInfo;\n}\n\n// Analizar el contexto de la conversación\nconst contextInfo = analyzeConversationContext(userMessage, row);\n\n// Determinar qué información falta y en qué orden preguntar\nconst infoOrder = ['empresa', 'giro', 'email'];\nconst missingInfo = infoOrder.filter(key => contextInfo[key].needsInfo);\nconst nextToAsk = missingInfo[0] || null;\n\n// Construir preguntas contextualmente apropiadas\nfunction buildContextualQuestion(infoType, hasDetectedSomething) {\n  const questions = {\n    empresa: hasDetectedSomething \n      ? \"Me podrías confirmar el nombre completo de tu empresa o razón social?\" \n      : \"¿Cuál es el nombre de tu empresa o razón social?\",\n    giro: hasDetectedSomething \n      ? \"¿Podrías contarme un poco más sobre la actividad principal de tu negocio?\" \n      : \"¿A qué se dedica tu empresa? Me gustaría conocer su giro de negocio.\",\n    email: hasDetectedSomething \n      ? \"¿Tienes un correo corporativo donde te pueda contactar?\" \n      : \"¿Cuentas con un correo empresarial para futuras comunicaciones?\"\n  };\n  \n  return questions[infoType] || \"\";\n}\n\n// Construir mensaje de seguimiento basado en contexto\nfunction buildContextualPrompt(nextInfo, detectedContext) {\n  if (!nextInfo) return \"\";\n  \n  const hasDetectedSomething = detectedContext[nextInfo]?.detected || false;\n  const question = buildContextualQuestion(nextInfo, hasDetectedSomething);\n  \n  return `\\nPREGUNTA CONTEXTUAL: ${question}`;\n}\n\n// Construimos el systemMessage dinámico del agente\nconst AGENDA = \"👉 Agendar reunión con Mobilvendor https://outlook.office365.com/book/Mobilvendor_Comercial@mobilvendor.com/?ismsaljsauthenabled=true\";\n\nconst base = `Eres un asistente virtual de Mobilvendor para WhatsApp.\nUsa EXCLUSIVAMENTE la herramienta de búsqueda del folleto (vector store) para responder.\nSi algo no está en la base, responde: \"Lo siento, no dispongo de esa información en este momento.\"\nNo inventes.\n\nDerivación si piden contacto/demos: ${AGENDA}\n\nEstilo: conciso, claro, cercano, propio para WhatsApp.`;\n\nconst qualRules = `MODO=qualification\n\nINFORMACIÓN DETECTADA EN CONVERSACIÓN:\n- Empresa: ${contextInfo.empresa.hasValidInfo ? '✅ Completa' : contextInfo.empresa.detected ? '🔄 Detectada' : '❌ Falta'}${contextInfo.empresa.extractedValue ? ` (${contextInfo.empresa.extractedValue})` : ''}\n- Giro: ${contextInfo.giro.hasValidInfo ? '✅ Completa' : contextInfo.giro.detected ? '🔄 Detectada' : '❌ Falta'}${contextInfo.giro.extractedValue ? ` (${contextInfo.giro.extractedValue})` : ''}\n- Email: ${contextInfo.email.hasValidInfo ? '✅ Completa' : contextInfo.email.detected ? '🔄 Detectada' : '❌ Falta'}${contextInfo.email.extractedValue ? ` (${contextInfo.email.extractedValue})` : ''}\n\nINSTRUCCIONES IMPORTANTES:\n1. PRIMERO responde a su consulta con información del folleto (vector store)\n2. REVISA si en esta conversación ya proporcionó la información que necesitas\n3. Si en mensajes anteriores ya dio empresa/giro/email, NO vuelvas a preguntar\n4. Solo pregunta información que realmente NO ha proporcionado aún\n\nPRÓXIMA ACCIÓN:\n${nextToAsk ? `Preguntar: ${buildContextualQuestion(nextToAsk, contextInfo[nextToAsk]?.detected)}` : 'Información completa ✅ - No hacer más preguntas de datos'}\n\nREGLAS:\n- UNA pregunta por turno máximo\n- Si no tiene email corporativo, continúa sin problema\n- NO repitas preguntas ya respondidas en la conversación\n- Sé natural y conversacional`;\n\nconst ansRules = `MODO=answer\n- Responde directo con información del folleto (vector store).\n- Sé específico y breve.\n- Información completa ya recopilada ✅`;\n\nconst systemMessage = [base, needsQualification ? qualRules : ansRules].join(\"\\n\\n\");\n\nreturn {\n  json: {\n    systemMessage,\n    mode: needsQualification ? \"qualification\" : \"answer\",\n    MQL1, \n    MQL2,\n    hasRow: !!(row?.email || row?.phone),\n    contextAnalysis: contextInfo,\n    nextToAsk: nextToAsk,\n    missingInfo: missingInfo,\n    userMessage: userMessage.substring(0, 100) + \"...\" // Para debug\n  }\n};"
      },
      "id": "ebd380fe-fe87-4b54-9124-2ed78289e004",
      "name": "Decide Mode & Build Prompt1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        1936
      ],
      "alwaysOutputData": true,
      "properties": {
        "mode": "runOnceForAllItems",
        "language": "JavaScript"
      }
    },
    {
      "parameters": {
        "jsCode": "// Extrae información clave de la respuesta del agente para actualizar el sheet\n// Esto ayudará a mejorar futuras interacciones\n\nconst agentResponse = $('AI Sales Agent1').item.json.output || \"\";\nconst userMessage = $('WhatsApp Trigger1').item.json.messages[0].text.body || \"\";\nconst phone = $('Normalize Phone').item.json.lookupPhone || \"\";\nconst hasExistingRow = $('Decide Mode & Build Prompt1').item.json.hasRow || false;\n\n// Solo procesa si no hay registro existente y la respuesta sugiere que se recopiló info\nif (!hasExistingRow && agentResponse.length > 50) {\n  // Busca patrones de información empresarial en la conversación\n  const patterns = {\n    empresa: /(?:empresa|compañía|negocio|comercio)\\s*:?\\s*([^\\n.,]+)/i,\n    giro: /(?:giro|actividad|sector|industria|rubro)\\s*:?\\s*([^\\n.,]+)/i,\n    email: /([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/\n  };\n  \n  const fullText = userMessage + \" \" + agentResponse;\n  \n  const extractedData = {\n    phone: phone,\n    empresa: patterns.empresa.test(fullText) ? fullText.match(patterns.empresa)[1].trim() : \"\",\n    giro: patterns.giro.test(fullText) ? fullText.match(patterns.giro)[1].trim() : \"\",\n    email: patterns.email.test(fullText) ? fullText.match(patterns.email)[1] : \"\",\n    interaction_date: new Date().toISOString().split('T')[0],\n    source: \"whatsapp_chat\",\n    MQL1: false, // Datos incompletos por chat\n    MQL2: false  // Necesita validación adicional\n  };\n  \n  // Solo retorna si se extrajo al menos empresa o email\n  if (extractedData.empresa || extractedData.email) {\n    return { json: extractedData };\n  }\n}\n\n// Si no hay datos para procesar, retorna objeto vacío\nreturn { json: { shouldSkip: true } };"
      },
      "id": "5f7a0775-710d-452a-b412-e601eaa46daa",
      "name": "Extract Chat Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        2208
      ],
      "alwaysOutputData": true,
      "properties": {
        "mode": "runOnceForAllItems",
        "language": "JavaScript"
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-05T20:22:07.344Z",
      "updatedAt": "2025-09-05T20:22:07.344Z",
      "role": "workflow:owner",
      "workflowId": "E3YYhR3Pmlz27asw",
      "projectId": "IcIKCrtLDXlTBTP5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-09-09T04:55:47.000Z",
  "versionId": "6eebf86a-34ba-40d8-8aa6-5ec73f6a9953"
}