workflows/qgk0Joy7xUJPsbue.json
{
  "active": true,
  "connections": {
    "AI Agent ZEI1": {
      "main": [
        [
          {
            "node": "Ordenar campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "filtro ubicacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ordenar campos": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "xlsx": {
      "ai_tool": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "pdf/text": {
      "ai_vectorStore": [
        []
      ],
      "ai_tool": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "emb1": {
      "ai_embedding": [
        [
          {
            "node": "pdf/text",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "emb": {
      "ai_embedding": [
        [
          {
            "node": "xlsx",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Google Sheets": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Leer Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filtro ubicacion": {
      "main": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    },
    "lista documentos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-04T17:22:05.506Z",
  "id": "qgk0Joy7xUJPsbue",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agente ISO27001 selector carpetas",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=# System Prompt Mejorado para AI Agent ISO27001 (VERSIÓN DEFINITIVA)\n\nEres un agente experto en auditoría ISO 27001.\nTu única función es responder preguntas usando exclusivamente la información obtenida del vector store (pdf/text o xlsx) y, cuando el usuario pida listar documentos, usar la herramienta lista_documentos.\n\nEl webhook SIEMPRE envía un contexto de carpeta:\n`body.folder`\n\n---\n\n===============================================================\n                FILTRADO POR UBICACIÓN (REGLA OBLIGATORIA)\n===============================================================\n\nAntes de analizar cualquier vector o lista de documentos, DEBES aplicar la siguiente lógica:\n\n## CASO 1: folder vacío o \"todos\"\n- Buscar en TODO el vector store.\n- Aceptar cualquier ubicación.\n\n## CASO 2: carpeta específica\nSi `folder` contiene una ruta como:\n\"Seguridad de la Información/Políticas\"\n\"Seguridad de la Información/Evidencias/Actas\"\n\nEntonces:\n\nPASO 1 — Examina cada resultado.\nPASO 2 — ACEPTA SOLO si:\nmetadata.ubicacion **comienza EXACTAMENTE** con la ruta del folder.\n\nPASO 3 — Si después del filtro NO queda ningún documento:\nResponder EXACTAMENTE:\n\n{\n  \"output\": \"❌ No se encontró evidencia documental dentro de la carpeta seleccionada: {{folder}}\"\n}\n\n---\n\n===============================================================\n                REGLA CRÍTICA DE RESPUESTA\n===============================================================\n\nTu respuesta SIEMPRE debe ser:\n\n{\n  \"output\": \"HTML_FINAL\"\n}\n\n- HTML_FINAL debe ser HTML puro.\n- Nunca incluir markdown.\n- Nunca incluir backticks.\n- No inventar contenido.\n\n---\n\n===============================================================\n                MENSAJE OBLIGATORIO AL INICIO DEL HTML\n===============================================================\n\nSiempre mostrar:\n\n<p style=\"color:#6b7280; font-size:13px;\">Carpeta analizada: {{folder}}</p>\n\nSi `folder` está vacío → mostrar:\n\n<p style=\"color:#6b7280; font-size:13px;\">Carpeta analizada: Todas las carpetas</p>\n\n---\n\n===============================================================\n        ⭐⭐ NUEVO: MODO LISTA DE DOCUMENTOS (lista_documentos)\n===============================================================\n\nEste modo se activa cuando el usuario pida:\n\n- \"listar documentos\"\n- \"lista los archivos\"\n- \"mostrar documentos\"\n- \"qué documentos existen\"\n- \"qué documentos hay en esta carpeta\"\n- \"ver documentos\"\n- \"documentos disponibles\"\n- \"mostrar archivos\"\n- \"documentos de esta carpeta\"\n- Cualquier solicitud cuyo objetivo sea conocer los archivos existentes, sin pedir contenido interno.\n\nEn este modo debes usar EXCLUSIVAMENTE la herramienta:\n\n👉  lista_documentos\n\nLa herramienta devuelve columnas:\n- fileName\n- extension\n- ubicacion\n- bitrixId\n- source_url\n- bitrixDetailUrl\n\n### REGLAS:\n\n1. Si folder está vacío o \"todos\":\n   → Listar TODOS los documentos.\n\n2. Si folder tiene una ruta:\n   → Filtrar SOLO donde `ubicacion` comience EXACTAMENTE por folder.\n\n3. NO usar Pinecone.\n\n4. NO inventar documentos.\n\n5. Si no hay resultados:\n{\n  \"output\": \"❌ No se encontraron documentos que coincidan con la búsqueda.\"\n}\n\n### FORMATO OBLIGATORIO (MULTIPLES DOCUMENTOS):\n\n{\n\"output\": \"<p style='color:#6b7280; font-size:13px;'>Carpeta analizada: {{folder}}</p>\n<h3 class='mv-title-h3'>Listado de documentos</h3>\n<ul>\n<li>{{fileName}} — {{extension}} — {{ubicacion}} — <a href='{{source_url}}' target='_blank'>Abrir</a></li>\n</ul>\"\n}\n\nCada documento debe generar su propio `<li>`.\n\nSi no tiene source_url:\n→ \"Sin enlace disponible\"\n\n### FORMATO DOCUMENTO ÚNICO:\n\n{\n\"output\": \"<p style='color:#6b7280; font-size:13px;'>Carpeta analizada: {{folder}}</p>\n<h3 class='mv-title-h3'>Documento encontrado</h3>\n<table class='mv-evidence-table'>\n<tr><td>Nombre</td><td>{{fileName}}</td></tr>\n<tr><td>Ubicación</td><td>{{ubicacion}}</td></tr>\n<tr><td>Extensión</td><td>{{extension}}</td></tr>\n<tr><td>Bitrix ID</td><td>{{bitrixId}}</td></tr>\n<tr><td>Enlace</td><td><a href='{{source_url}}' target='_blank'>Abrir documento</a></td></tr>\n</table>\"\n}\n\n---\n\n===============================================================\n                   MODO DOCUMENTOS (pdf/text)\n===============================================================\n\n<p style=\"color:#6b7280; font-size:13px;\">Carpeta analizada: {{folder}}</p>\n\n<h3 class=\"mv-title-h3\">Respuesta</h3>\n<p>Explica brevemente la conclusión basada en la evidencia.</p>\n\n<div class=\"mv-evidence-box\">\n  <h3 class=\"mv-title-h3\">Evidencia principal</h3>\n  <table class=\"mv-evidence-table\">\n    <tr><td>Documento</td><td>{{document}}</td></tr>\n    <tr><td>Página</td><td>{{page}}</td></tr>\n    <tr><td>Ubicación</td><td>{{ubicacion}}</td></tr>\n    <tr><td>Enlace</td><td><a href=\"{{source_url}}\" target=\"_blank\">Abrir documento</a></td></tr>\n    <tr><td>Sección</td><td>{{section}}</td></tr>\n    <tr><td>Descripción</td><td>{{description}}</td></tr>\n  </table>\n\n  <div class=\"mv-fragment\">{{pageContent}}</div>\n</div>\n\n<h3 class=\"mv-title-h3\">Documentos relacionados</h3>\n<ul>\n  <li>{{document}} — Página {{page}} — <a href=\"{{source_url}}\" target=\"_blank\">Abrir</a></li>\n</ul>\n\n---\n\n===============================================================\n                   MODO MATRIZ XLSX\n===============================================================\n\nUsar SOLO si el usuario menciona:\n\n- Excel\n- hoja\n- matriz\n- fila\n- columna\n- activos\n- riesgos\n- inventario\n- evaluación\n- controles\n\n<p style=\"color:#6b7280; font-size:13px;\">Carpeta analizada: {{folder}}</p>\n\n<h3 class=\"mv-title-h3\">Resultados de la Matriz</h3>\n<ul>\n  <li>{{valor}} — Archivo: {{archivo}} — Hoja: {{hoja}} — Fila: {{fila}} — <a href=\"{{source_url}}\" target=\"_blank\">Abrir</a></li>\n</ul>\n\n---\n\n===============================================================\n                 CUANDO NO EXISTE EVIDENCIA\n===============================================================\n\n{\n  \"output\": \"❌ No se encontró evidencia en los documentos disponibles.\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        832,
        -1216
      ],
      "id": "7bff49a4-c9fe-45a6-bc2d-0d414db692ea",
      "name": "AI Agent ZEI1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        592,
        -992
      ],
      "id": "c9f32633-dbae-4577-8ad8-c4fb2f5fbb5d",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente_ISO27001-selector-carpeta",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        352,
        -1216
      ],
      "id": "4da87d69-5535-4bd0-81ee-9d6430cb98c2",
      "name": "Webhook",
      "webhookId": "8076581c-e855-4d69-86d8-d957c229789b"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1568,
        -1216
      ],
      "id": "0831f41f-c0e9-4139-8075-3fef948e122e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// 1. Desencapsular JSON anidado\nlet raw = $json.output;\n\nif (typeof raw === \"string\") {\n  try {\n    raw = JSON.parse(raw);\n  } catch (e) {\n    return { output: \"❌ Error al parsear salida: \" + e.message };\n  }\n}\n\n// 2. Obtener HTML del agente\nlet html = raw.output || \"\";\n\n// ELIMINAR LA SECCIÓN DE RESPUESTA COMPLETA\n// Esto elimina desde el <h3>Respuesta</h3> hasta antes de <div class=\"mv-evidence-box\">\nhtml = html.replace(\n  /<h3 class=['\"]mv-title-h3['\"]>Respuesta<\\/h3>[\\s\\S]*?(?=<div class=['\"]mv-evidence-box['\"]>)/i,\n  \"\"\n);\n\n\n// 3. EXTRAER TODAS LAS FILAS DEL <table>\nconst tableMatch = html.match(/<table[\\s\\S]*?<\\/table>/i);\nif (!tableMatch) {\n  return { output: html };\n}\n\nlet tableHtml = tableMatch[0];\n\n// Extraer filas individuales\nconst rows = [...tableHtml.matchAll(/<tr>([\\s\\S]*?)<\\/tr>/gi)].map(r => r[0]);\n\n// Crear diccionario para las filas encontradas\nlet map = {\n  documento: null,\n  ubicacion: null,\n  pagina: null,\n  enlace: null,\n  seccion: null,\n  descripcion: null\n};\n\n// Clasificar filas por su título\nfor (const row of rows) {\n  const lower = row.toLowerCase();\n  if (lower.includes(\"<td>documento\")) map.documento = row;\n  else if (lower.includes(\"<td>ubicación\")) map.ubicacion = row;\n  else if (lower.includes(\"<td>página\") || lower.includes(\"<td>pagina\")) map.pagina = row;\n  else if (lower.includes(\"<td>enlace\")) map.enlace = row;\n  else if (lower.includes(\"<td>sección\") || lower.includes(\"<td>seccion\")) map.seccion = row;\n  else if (lower.includes(\"<td>descripción\") || lower.includes(\"<td>descripcion\")) map.descripcion = row;\n}\n\n// 4. RECONSTRUIR LA TABLA EN EL ORDEN CORRECTO\nlet newTable =\n  \"<table class=\\\"mv-evidence-table\\\">\" +\n  (map.documento || \"\") +\n  (map.ubicacion || \"\") +\n  (map.pagina || \"\") +\n  (map.enlace || \"\") +\n  (map.seccion || \"\") +\n  (map.descripcion || \"\") +\n  \"</table>\";\n\n// 5. Reemplazar tabla original\nhtml = html.replace(tableHtml, newTable);\n\n// 6. Devolver HTML corregido\nreturn {\n  output: html\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -1216
      ],
      "id": "d247656c-c3d8-45d8-900b-51a750906afb",
      "name": "Ordenar campos"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca en el vector store de Pinecone la información solicitada. \nDevuelve SIEMPRE el resultado completo del vector en formato JSON, \nincluyendo los campos:\n- metadata.source_url\n\nNo resumas ni reescribas los resultados, devuélvelos tal como los recibe del vector.",
        "pineconeIndex": {
          "__rl": true,
          "value": "iso-27001xlsx",
          "mode": "list",
          "cachedResultName": "iso-27001xlsx"
        },
        "topK": 300,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1168,
        -992
      ],
      "id": "eba7eaba-3d89-4d07-a66c-d4473e7ab0fc",
      "name": "xlsx",
      "credentials": {
        "pineconeApi": {
          "id": "pOOSmWGE6fHNq5oR",
          "name": "PineconeApi EA"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca en el vector store de Pinecone la información solicitada. \nDevuelve SIEMPRE el resultado completo del vector en formato JSON, \nincluyendo los campos:\n- metadata.ubicacion\n- metadata.document\n- metadata.page\n- metadata.section\n- metadata.description\n- metadata.source_url\n- metadata.compliance\n- pageContent\n\nNo resumas ni reescribas los resultados, devuélvelos tal como los recibe del vector.",
        "pineconeIndex": {
          "__rl": true,
          "value": "iso-27001",
          "mode": "list",
          "cachedResultName": "iso-27001"
        },
        "topK": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        896,
        -992
      ],
      "id": "969f8897-04c4-4a1e-b403-4b0f98f60651",
      "name": "pdf/text",
      "credentials": {
        "pineconeApi": {
          "id": "pOOSmWGE6fHNq5oR",
          "name": "PineconeApi EA"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "ea5d3231-9b7f-450c-8f47-eadf613ad604",
      "name": "emb1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        896,
        -752
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1168,
        -752
      ],
      "id": "3b70f0cd-3e4d-4454-add9-f1d98146fce9",
      "name": "emb",
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId || $json.sessionId || $json.headers[\"x-real-ip\"] || \"anon\" }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        752,
        -992
      ],
      "id": "19203d33-db9c-47e7-8755-0ec6bdff3090",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=window.addEventListener(\"load\", function () {\n\n  if (window.MobilvendorWidgetLoaded) return;\n  window.MobilvendorWidgetLoaded = true;\n\n  const WEBHOOK_URL = \"https://n8n.mobilvendor.com/webhook/agente_ISO27001-selector-carpeta\";\n  const FOLDER_ENDPOINT = \"https://n8n.mobilvendor.com/webhook/folder\";\n  const BOT_IMG = \"https://ik.imagekit.io/nm4jeymx5/Asistente-03-Mobilvendor.jpg?updatedAt=1760720233657\";\n\n  /* ========================================================\n        VARIABLES GLOBALES\n  ======================================================== */\n  let mvFolderOptions = [];\n  let selectedFolder = \"\";\n\n  const ICON_FOLDER_CLOSED = \"▸\";\n  const ICON_FOLDER_OPEN = \"▾\";\n  const ICON_FILE = \"•\";\n\n  /* ========================================================\n        CONTENEDOR PRINCIPAL DEL WIDGET\n  ======================================================== */\n\n  const widget = document.createElement(\"div\");\n  widget.id = \"mv-widget\";\n  widget.innerHTML = `\n    <img id=\"mv-bot\" src=\"${BOT_IMG}\" alt=\"Agente ISO27001 Mobilvendor\"/>\n\n    <div id=\"mv-chatbox\" style=\"display:none; flex-direction:column;\">\n      \n      <!-- HEADER -->\n      <div id=\"mv-header\">\n        <div class=\"mv-header-top\">\n          <img src=\"${BOT_IMG}\" alt=\"ZEI Bot\" class=\"mv-avatar\"/>\n          <div class=\"mv-header-text\">\n            <span class=\"mv-title\">Agente ISO27001 Mobilvendor</span>\n            <span class=\"mv-subtitle\">Asistente de evidencias y documentos</span>\n          </div>\n        </div>\n      </div>\n\n      <!-- MENSAJES -->\n      <div id=\"mv-messages\"></div>\n\n      <!-- FOOTER: SELECTOR DE CARPETA + INPUT -->\n      <div id=\"mv-footer\">\n\n        <!-- BLOQUE CONTEXTO CARPETA -->\n        <div id=\"mv-folder-block\">\n          <div class=\"mv-folder-header\">\n            <div>\n              <div class=\"mv-folder-title\">Carpeta de contexto</div>\n              <div class=\"mv-folder-current\" id=\"mv-folder-current\">\n                Ninguna seleccionada\n              </div>\n            </div>\n          </div>\n\n          <!-- BUSCADOR + ÁRBOL -->\n          <div class=\"mv-folder-search-row\">\n            <input \n              id=\"mv-folder-search\"\n              type=\"text\"\n              placeholder=\"Buscar carpeta por nombre...\"\n              autocomplete=\"off\"\n            />\n          </div>\n\n          <div id=\"mv-folder-tree\"></div>\n        </div>\n\n        <!-- INPUT DE TEXTO -->\n        <div id=\"mv-input-row\">\n          <input id=\"mv-input\" type=\"text\" placeholder=\"Escribe tu mensaje...\" autocomplete=\"off\"/>\n          <button id=\"mv-send\" title=\"Enviar\">\n            <svg width=\"22\" height=\"22\" viewBox=\"0 0 24 24\">\n              <path fill=\"#ffffff\" d=\"M2 21l21-9L2 3v7l15 2-15 2v7z\"></path>\n            </svg>\n          </button>\n        </div>\n\n      </div>\n    </div>\n  `;\n  document.body.appendChild(widget);\n\n\n\n  /* ========================================================\n         CSS NEO NOTION\n  ======================================================== */\n\n  const style = document.createElement(\"style\");\n  style.textContent = `\n    :root {\n      --mv-bg: #f5f5f7;\n      --mv-border: #e5e7eb;\n      --mv-primary: #0037ff;\n      --mv-primary-soft: #eef2ff;\n      --mv-text-main: #111827;\n      --mv-text-muted: #6b7280;\n    }\n\n    #mv-widget {\n      position:fixed;\n      bottom:24px;\n      right:24px;\n      z-index:99999;\n      font-family: system-ui, -apple-system, BlinkMacSystemFont, \"Segoe UI\", sans-serif;\n    }\n\n    #mv-bot {\n      width:72px;\n      height:72px;\n      border-radius:999px;\n      cursor:pointer;\n      box-shadow:0 10px 30px rgba(0,0,0,0.16);\n      transition:transform 0.18s ease, box-shadow 0.18s ease;\n      border:4px solid #ffffff;\n      background:#fff;\n      object-fit:cover;\n    }\n    #mv-bot:hover {\n      transform:scale(1.06);\n      box-shadow:0 14px 40px rgba(0,0,0,0.22);\n    }\n\n    #mv-chatbox {\n      position:fixed;\n      bottom:110px;\n      right:32px;\n      width:420px;\n      background:#ffffff;\n      border-radius:20px;\n      box-shadow:0 18px 60px rgba(15,23,42,0.25);\n      display:none;\n      overflow:hidden;\n    }\n\n    /* HEADER */\n    #mv-header {\n      background:#ffffff;\n      border-bottom:1px solid var(--mv-border);\n      padding:12px 14px 10px;\n    }\n    .mv-header-top {\n      display:flex;\n      align-items:center;\n      gap:10px;\n    }\n    .mv-avatar {\n      width:30px;\n      height:30px;\n      border-radius:999px;\n      border:1px solid var(--mv-border);\n      background:#fff;\n      object-fit:cover;\n    }\n    .mv-header-text {\n      display:flex;\n      flex-direction:column;\n    }\n    .mv-title {\n      color:var(--mv-text-main);\n      font-weight:600;\n      font-size:15px;\n    }\n    .mv-subtitle {\n      color:var(--mv-text-muted);\n      font-size:12px;\n    }\n\n    /* MENSAJES */\n    #mv-messages {\n      max-height:420px;\n      min-height:160px;\n      overflow-y:auto;\n      padding:14px 14px 10px;\n      background:var(--mv-bg);\n      display:flex;\n      flex-direction:column;\n      gap:10px;\n    }\n\n    .mv-message-container {\n      display:flex;\n      width:100%;\n    }\n    .mv-message-container.user {\n      justify-content:flex-end;\n    }\n    .mv-message-container.bot {\n      justify-content:flex-start;\n    }\n\n    .mv-message {\n      border-radius:12px;\n      padding:10px 12px;\n      max-width:80%;\n      border:1px solid var(--mv-border);\n      background:#ffffff;\n      color:var(--mv-text-main);\n      font-size:14px;\n      line-height:1.4;\n    }\n    .mv-message-container.user .mv-message {\n      background:var(--mv-primary-soft);\n      border-color:#c7d2fe;\n    }\n    .mv-message ul {\n      margin-left: 16px;\n      padding-left: 16px;\n      list-style-type: disc;\n      max-width: 100%;\n      overflow-wrap: break-word;\n    }\n    \n    .mv-message li {\n      margin-bottom: 6px;\n      line-height: 1.35;\n      max-width: 100%;\n      overflow-wrap: break-word;\n    }\n    \n    .mv-message a {\n      color: var(--mv-primary);\n      text-decoration: underline;\n      word-break: break-all;\n    }\n    .mv-message-sender {\n      font-weight:600;\n      font-size:12px;\n      margin-bottom:4px;\n      color:var(--mv-text-muted);\n    }\n    .mv-message-time {\n      font-size:11px;\n      opacity:0.7;\n      margin-top:6px;\n      text-align:right;\n      color:var(--mv-text-muted);\n    }\n\n    /* FOOTER GENERAL */\n    #mv-footer {\n      background:#ffffff;\n      border-top:1px solid var(--mv-border);\n      padding:10px 12px 12px;\n      display:flex;\n      flex-direction:column;\n      gap:10px;\n    }\n\n    /* BLOQUE CARPETA */\n    #mv-folder-block {\n      border-radius:12px;\n      border:1px solid var(--mv-border);\n      background:#fafafa;\n      padding:10px 10px 8px;\n      display:flex;\n      flex-direction:column;\n      gap:8px;\n    }\n    .mv-folder-header {\n      display:flex;\n      justify-content:space-between;\n      align-items:flex-start;\n      gap:8px;\n    }\n    .mv-folder-title {\n      font-size:13px;\n      font-weight:600;\n      color:var(--mv-text-main);\n    }\n    .mv-folder-current {\n      font-size:12px;\n      color:var(--mv-text-muted);\n      margin-top:2px;\n      word-break:break-all;\n    }\n\n    .mv-folder-search-row {\n      display:flex;\n      margin-top:4px;\n    }\n    #mv-folder-search {\n      width:100%;\n      padding:7px 9px;\n      border-radius:10px;\n      border:1px solid var(--mv-border);\n      font-size:13px;\n      outline:none;\n      background:#ffffff;\n      color:var(--mv-text-main);\n    }\n    #mv-folder-search:focus {\n      border-color:var(--mv-primary);\n      box-shadow:0 0 0 1px rgba(37,99,235,0.2);\n    }\n\n    #mv-folder-tree {\n      margin-top:4px;\n      max-height:180px;\n      overflow-y:auto;\n      padding:4px 2px 2px;\n      border-radius:8px;\n      background:#ffffff;\n      border:1px solid #e5e7eb;\n    }\n\n    .mv-tree-item {\n      padding:4px 6px;\n      cursor:pointer;\n      border-radius:8px;\n      display:flex;\n      flex-direction:column;\n      transition:background 0.15s ease;\n      font-size:13px;\n      color:var(--mv-text-main);\n      user-select:none;\n    }\n    .mv-tree-item:hover {\n      background:#f3f4ff;\n    }\n\n    .mv-tree-label {\n      display:flex;\n      align-items:center;\n      gap:5px;\n    }\n\n    .mv-tree-icon {\n      font-size:17px;\n      color:var(--mv-text-muted);\n      width:17px;\n      text-align:center;\n    }\n\n    .mv-tree-children {\n      margin-left:14px;\n      margin-top:2px;\n      border-left:1px dashed #e5e7eb;\n      padding-left:8px;\n      overflow:hidden;\n      transition:max-height 0.22s ease;\n      max-height:0;\n    }\n\n    .mv-highlight {\n      background:#ffeb3b;\n      padding:0 2px;\n      border-radius:3px;\n    }\n\n    /* INPUT MENSAJE */\n    #mv-input-row {\n      display:flex;\n      align-items:center;\n      gap:8px;\n    }\n    #mv-input {\n      flex:1;\n      padding:10px 11px;\n      border-radius:12px;\n      border:1px solid var(--mv-border);\n      font-size:14px;\n      outline:none;\n      background:#ffffff;\n      color:var(--mv-text-main);\n    }\n    #mv-input:focus {\n      border-color:var(--mv-primary);\n      box-shadow:0 0 0 1px rgba(37,99,235,0.2);\n    }\n\n    #mv-send {\n      width:40px;\n      height:40px;\n      border:none;\n      border-radius:999px;\n      background:var(--mv-primary);\n      display:flex;\n      align-items:center;\n      justify-content:center;\n      cursor:pointer;\n      transition:background 0.15s ease, transform 0.1s ease;\n    }\n    #mv-send:hover {\n      background:#0024b8;\n      transform:translateY(-1px);\n    }\n    #mv-send:disabled {\n      opacity:0.6;\n      cursor:default;\n      transform:none;\n    }\n  `;\n  document.head.appendChild(style);\n\n\n\n  /* ========================================================\n         SANITIZACIÓN\n  ======================================================== */\n\n  function sanitize(text){\n    const div=document.createElement(\"div\");\n    div.textContent=String(text ?? \"\");\n    return div.innerHTML;\n  }\n\n  function sanitizeWithLinks(html) {\n    // Para mantener links que vienen del backend ya en HTML\n    return html;\n  }\n\n\n  /* ========================================================\n         ARBOL DE CARPETAS\n  ======================================================== */\n\n  // Convierte paths tipo \"A/B/C\" en árbol\n  function buildTree(paths) {\n    const root = {};\n\n    paths.forEach(path => {\n      const parts = path.split(\"/\").filter(Boolean);\n      let current = root;\n\n      parts.forEach((part, index) => {\n        if (!current[part]) {\n          current[part] = {\n            __children:{},\n            __fullPath: parts.slice(0, index + 1).join(\"/\")\n          };\n        }\n        current = current[part].__children;\n      });\n    });\n\n    return root;\n  }\n\n  // Dibuja árbol en container\n  function renderTree(tree, container, searchTerm = \"\") {\n    container.innerHTML = \"\";\n    const term = searchTerm.toLowerCase();\n\n    Object.keys(tree)\n      .sort((a, b) => a.localeCompare(b, \"es\", { sensitivity: \"base\" }))\n      .forEach(key => {\n        const node = tree[key];\n        const hasChildren = Object.keys(node.__children).length > 0;\n\n        const item = document.createElement(\"div\");\n        item.className = \"mv-tree-item\";\n\n        const label = document.createElement(\"div\");\n        label.className = \"mv-tree-label\";\n\n        const iconSpan = document.createElement(\"span\");\n        iconSpan.className = \"mv-tree-icon\";\n        iconSpan.textContent = hasChildren ? ICON_FOLDER_CLOSED : ICON_FILE;\n\n        const textSpan = document.createElement(\"span\");\n        const safeKey = sanitize(key);\n        if (term && safeKey.toLowerCase().includes(term)) {\n          const re = new RegExp(`(${term})`, \"i\");\n          textSpan.innerHTML = safeKey.replace(re, `<span class=\"mv-highlight\">$1</span>`);\n        } else {\n          textSpan.innerHTML = safeKey;\n        }\n\n        label.appendChild(iconSpan);\n        label.appendChild(textSpan);\n        item.appendChild(label);\n\n        const childWrapper = document.createElement(\"div\");\n        childWrapper.className = \"mv-tree-children\";\n        renderTree(node.__children, childWrapper, searchTerm);\n\n        let expanded = false;\n\n        label.addEventListener(\"click\", (e) => {\n          e.stopPropagation();\n          selectedFolder = node.__fullPath;\n          const currentSpan = document.querySelector(\"#mv-folder-current\");\n          if (currentSpan) {\n            currentSpan.textContent = selectedFolder;\n          }\n\n          if (hasChildren) {\n            expanded = !expanded;\n            childWrapper.style.maxHeight = expanded ? \"400px\" : \"0px\";\n            iconSpan.textContent = expanded ? ICON_FOLDER_OPEN : ICON_FOLDER_CLOSED;\n          }\n        });\n\n        // Auto-expand si hay búsqueda y coincide el nombre\n        if (term && safeKey.toLowerCase().includes(term) && hasChildren) {\n          expanded = true;\n          childWrapper.style.maxHeight = \"400px\";\n          iconSpan.textContent = ICON_FOLDER_OPEN;\n        }\n\n        item.appendChild(childWrapper);\n        container.appendChild(item);\n      });\n  }\n\n  // Render según filtro de búsqueda\n  function renderFolderTree(filter = \"\") {\n    const treeContainer = document.querySelector(\"#mv-folder-tree\");\n    const filtered = mvFolderOptions.filter(f =>\n      f.toLowerCase().includes(filter.toLowerCase())\n    );\n    const tree = buildTree(filtered);\n    renderTree(tree, treeContainer, filter);\n  }\n\n\n  /* ========================================================\n         CARGAR CARPETAS DESDE N8N\n  ======================================================== */\n\n  async function loadFolders() {\n    const searchBox = document.querySelector(\"#mv-folder-search\");\n    searchBox.placeholder = \"Cargando carpetas...\";\n\n    try {\n      const res = await fetch(FOLDER_ENDPOINT);\n      const data = await res.json();\n\n      let folders = [];\n\n      if (Array.isArray(data.folders)) {\n        folders = data.folders;\n      } else if (Array.isArray(data) && data[0] && data[0].ubicacion) {\n        folders = data.map(r => r.ubicacion);\n      }\n\n      mvFolderOptions = [...new Set((folders || []).filter(f => !!f))];\n\n      searchBox.placeholder = \"Buscar carpeta por nombre...\";\n      renderFolderTree(\"\");\n\n    } catch (err) {\n      console.error(\"Error al cargar carpetas:\", err);\n      searchBox.placeholder = \"Error al cargar carpetas\";\n    }\n  }\n\n\n  /* ========================================================\n            EVENTOS DEL SELECTOR\n  ======================================================== */\n\n  const folderSearch = document.querySelector(\"#mv-folder-search\");\n  folderSearch.addEventListener(\"input\", () => {\n    renderFolderTree(folderSearch.value);\n  });\n\n\n  /* ========================================================\n            CHAT\n  ======================================================== */\n\n  const messages = document.querySelector(\"#mv-messages\");\n\n  function appendMessage(sender, text, isUser=false){\n    const container=document.createElement(\"div\");\n    container.className=`mv-message-container ${isUser?'user':'bot'}`;\n\n    const time=new Date().toLocaleTimeString([], {hour:\"2-digit\", minute:\"2-digit\"});\n\n    container.innerHTML=`\n      <div class=\"mv-message\">\n        <span class=\"mv-message-sender\">${sanitize(sender)}</span>\n        <div class=\"mv-message-text\">${isUser ? sanitize(text) : sanitizeWithLinks(text)}</div>\n        <span class=\"mv-message-time\">${time}</span>\n      </div>\n    `;\n    messages.appendChild(container);\n    messages.scrollTop=messages.scrollHeight;\n  }\n\n  const bot = document.querySelector(\"#mv-bot\");\n  const chatbox = document.querySelector(\"#mv-chatbox\");\n  const input = document.querySelector(\"#mv-input\");\n  const sendBtn = document.querySelector(\"#mv-send\");\n\n  loadFolders();\n\n  bot.addEventListener(\"click\",()=>{\n    const showing = chatbox.style.display !== \"none\";\n    chatbox.style.display = showing ? \"none\" : \"flex\";\n\n    if(!showing && !chatbox.dataset.greeted){\n      appendMessage(\"Agente\",\"¡Hola! 👋 Soy tu agente ISO27001 Mobilvendor. Selecciona una carpeta de contexto y cuéntame qué necesitas revisar.\");\n      chatbox.dataset.greeted=true;\n    }\n    if(!showing) input.focus();\n  });\n\n  function sendMessage(){\n    const msg=input.value.trim();\n    if(!msg) return;\n\n    appendMessage(\"Tú\",msg,true);\n\n    input.value=\"\";\n    input.disabled=true;\n    sendBtn.disabled=true;\n\n    fetch(WEBHOOK_URL,{\n      method:\"POST\",\n      headers:{\"Content-Type\":\"application/json\"},\n      body:JSON.stringify({\n        sessionId: \"session_\"+Date.now(),\n        message: msg,\n        folder: selectedFolder || \"\"\n      })\n    })\n    .then(r=>r.json())\n    .then(data=>{\n      appendMessage(\"Agente\", data.output || \"Sin respuesta\");\n    })\n    .catch(err=>{\n      console.error(err);\n      appendMessage(\"Agente\",\"❌ Error comunicando con el servidor.\");\n    })\n    .finally(()=>{\n      input.disabled=false;\n      sendBtn.disabled=false;\n    });\n  }\n\n  input.addEventListener(\"keypress\",e=>{ if(e.key===\"Enter\") sendMessage(); });\n  sendBtn.addEventListener(\"click\",sendMessage);\n\n});\n",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/javascript"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1136,
        -400
      ],
      "id": "6062c872-79a0-4e7c-bda3-38d24528e639",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "path": "widget-seg-selector",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        816,
        -400
      ],
      "id": "6293548f-77bb-47f3-a3d5-060a6caa06c9",
      "name": "Webhook1",
      "webhookId": "c3a6035e-6f03-4224-86d5-1576b5827ee5"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LwGhXktdAPmm1ckrkoJdcpzPiCNbgpIg9vIWBguYlBk",
          "mode": "list",
          "cachedResultName": "Documentos_ISO 27001",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LwGhXktdAPmm1ckrkoJdcpzPiCNbgpIg9vIWBguYlBk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LwGhXktdAPmm1ckrkoJdcpzPiCNbgpIg9vIWBguYlBk/edit#gid=0"
        },
        "options": {}
      },
      "id": "cd1f2563-eb19-4b15-8d1e-9c5b60c0c1ee",
      "name": "Leer Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        928,
        -576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fm3jifX2nPTobuSZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ================================================================\n// INPUT: filas del Google Sheet (columna \"ubicacion\")\n// OUTPUT: lista plana de rutas (STRINGS) para el widget\n// ================================================================\n\nconst rows = items.map(i => i.json);\nconst column = \"ubicacion\";\n\n// 1. Tomar todas las ubicaciones válidas\nlet paths = rows\n  .map(r => r[column])\n  .filter(v => v)\n  .map(v => v.trim())\n  .filter(v => v.length > 0);\n\n// 2. Quitar duplicados\npaths = [...new Set(paths)];\n\n// 3. Ordenar para mejor UX\npaths.sort((a, b) => a.localeCompare(b, \"es\", { sensitivity: \"base\" }));\n\n// 4. Devolver EXACTAMENTE lo que el widget espera\nreturn [\n  {\n    json: {\n      folders: paths\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -576
      ],
      "id": "98369714-0396-4943-a58b-09b750b08d16",
      "name": "Code"
    },
    {
      "parameters": {
        "path": "folder",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        672,
        -576
      ],
      "id": "df01cf86-963c-45de-93f7-458c1e5871e1",
      "name": "Webhook2",
      "webhookId": "8a325cc1-71cb-40c9-9d79-5a2099d0a8f0"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1392,
        -576
      ],
      "id": "29aaefc5-06c0-44df-88f0-758afea291cd",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "jsCode": "// ================================================================\n// Nodo Code: Pre-procesamiento de carpeta para el AI Agent\n// Posición: Entre Webhook y AI Agent ZEI1\n// ================================================================\n\n// Obtener datos del webhook\nconst folder = $json.body.folder || \"\";\nconst message = $json.body.message || \"\";\nconst sessionId = $json.body.sessionId || \"\";\n\n// Validar y normalizar el folder\nlet normalizedFolder = folder.trim();\n\n// Construir mensaje mejorado con contexto de carpeta\nlet enhancedMessage = message;\n\nif (normalizedFolder && normalizedFolder !== \"todos\" && normalizedFolder !== \"\") {\n  // Agregar instrucción explícita al inicio del mensaje\n  enhancedMessage = `[CONTEXTO OBLIGATORIO DE CARPETA]\nCarpeta de búsqueda: \"${normalizedFolder}\"\n\nREGLA CRÍTICA: Debes buscar EXCLUSIVAMENTE en documentos cuya metadata.ubicacion comience exactamente con: \"${normalizedFolder}\"\n\nNO incluyas resultados de otras carpetas, incluso si tienen mejor relevancia.\n\nSi no encuentras ningún resultado en esta carpeta específica, responde:\n{\n  \"output\": \"❌ No se encontró evidencia documental dentro de la carpeta seleccionada: ${normalizedFolder}\"\n}\n\n---\n\nPregunta del usuario: ${message}`;\n} else {\n  // Si no hay carpeta o es \"todos\", buscar en todo\n  enhancedMessage = `[CONTEXTO: Búsqueda global en todas las carpetas]\n\nPregunta del usuario: ${message}`;\n}\n\n// Log para debug (opcional, puedes comentarlo en producción)\nconsole.log(\"=== PRE-FILTRO DE CARPETA ===\");\nconsole.log(\"Carpeta solicitada:\", normalizedFolder || \"TODAS\");\nconsole.log(\"Mensaje original:\", message);\nconsole.log(\"Mensaje mejorado (primeros 200 chars):\", enhancedMessage.substring(0, 200) + \"...\");\n\n// Retornar datos procesados para el AI Agent\nreturn {\n  json: {\n    body: {\n      sessionId: sessionId,\n      message: enhancedMessage,\n      folder: normalizedFolder,\n      // Pasar también el mensaje original por si lo necesitas después\n      originalMessage: message\n    },\n    // Mantener otros datos del webhook si existen\n    headers: $json.headers,\n    query: $json.query,\n    params: $json.params\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -1216
      ],
      "id": "a3d278c3-e336-484a-8def-c3b0ece0a81a",
      "name": "filtro ubicacion"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca en el vector store de Pinecone la información solicitada. \nDevuelve SIEMPRE el resultado completo del vector en formato JSON, \nincluyendo los campos:\n- metadata.ubicacion\n- metadata.document\n- metadata.page\n- metadata.section\n- metadata.description\n- metadata.source_url\n- metadata.compliance\n- pageContent\n\nNo resumas ni reescribas los resultados, devuélvelos tal como los recibe del vector.",
        "pineconeIndex": {
          "__rl": true,
          "value": "iso-27001",
          "mode": "list",
          "cachedResultName": "iso-27001"
        },
        "topK": 200,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=ubicacion",
                "value": "={{ $('filtro ubicacion').first().json.body.folder }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2112,
        -1216
      ],
      "id": "5799cf0f-9c73-4eac-bd76-c65a87ae5193",
      "name": "pdf/text1",
      "credentials": {
        "pineconeApi": {
          "id": "pOOSmWGE6fHNq5oR",
          "name": "PineconeApi EA"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=# System Prompt Mejorado para AI Agent ISO27001\n\nEres un agente experto en auditoría ISO 27001.\nTu única función es responder preguntas usando exclusivamente la información encontrada en los vector stores disponibles.\n\nEl webhook SIEMPRE envía una carpeta de contexto:\n`body.folder`\n\n---\n\n## ===============================================================\n## FILTRADO POR UBICACIÓN (PRIORIDAD MÁXIMA - NO NEGOCIABLE)\n## ===============================================================\n\n**REGLA ABSOLUTA #1**: Antes de procesar CUALQUIER consulta, debes verificar el campo `body.folder`.\n\n### Lógica de filtrado:\n\n**CASO 1: Carpeta vacía o \"todos\"**\n```\nSi folder === \"\" O folder === \"todos\":\n  → Buscar en TODO el vector store\n  → Incluir resultados de cualquier ubicación\n```\n\n**CASO 2: Carpeta específica**\n```\nSi folder contiene una ruta (ej: \"Seguridad de la Información/Evidencias/Actas mensuales Comité de Seguridad\"):\n  \n  PASO 1: Obtener todos los resultados del vector store\n  \n  PASO 2: Aplicar filtro ESTRICTO:\n    Para cada resultado:\n      Si metadata.ubicacion NO comienza con el valor exacto de folder:\n        → DESCARTAR ese resultado inmediatamente\n      Si metadata.ubicacion SÍ comienza con folder:\n        → CONSERVAR ese resultado\n  \n  PASO 3: Si después del filtro NO quedan resultados:\n    {\n      \"output\": \"❌ No se encontró evidencia documental dentro de la carpeta seleccionada: {{folder}}\"\n    }\n    → DETENER procesamiento aquí\n  \n  PASO 4: Si quedan resultados, continuar con respuesta normal\n```\n\n### Ejemplo práctico de filtrado:\n\n**Entrada:**\n- Usuario pregunta: \"lista los documentos\"\n- `body.folder = \"Seguridad de la Información/Evidencias/Actas mensuales Comité de Seguridad\"`\n\n**Vector store devuelve 5 documentos:**\n1. `ubicacion: \"Seguridad de la Información/Evidencias/Actas mensuales Comité de Seguridad/Acta_Enero_2024.pdf\"` ✅ **INCLUIR**\n2. `ubicacion: \"Seguridad de la Información/Evidencias/Correos_solicitudes/email.pdf\"` ❌ **EXCLUIR**\n3. `ubicacion: \"Seguridad de la Información/Evidencias/Actas mensuales Comité de Seguridad/Acta_Febrero_2024.pdf\"` ✅ **INCLUIR**\n4. `ubicacion: \"Políticas/Documento_General.pdf\"` ❌ **EXCLUIR**\n5. `ubicacion: \"Seguridad de la Información/Evidencias/Actas mensuales Comité de Seguridad/Acta_Marzo_2024.pdf\"` ✅ **INCLUIR**\n\n**Resultado final:** Solo documentos 1, 3 y 5 deben aparecer en la respuesta.\n\n### Verificación antes de responder:\n\nAntes de generar el HTML final, verifica mentalmente:\n1. ¿Todos los documentos en mi respuesta tienen `metadata.ubicacion` que comienza con `body.folder`?\n2. ¿Excluí todos los documentos de otras carpetas, incluso si tienen mejor score?\n3. ¿Incluí la línea \"Carpeta analizada: {{folder}}\" correcta?\n\n**NUNCA mezcles resultados de carpetas diferentes.**\n\n---\n\n## ===============================================================\n## MENSAJE DINÁMICO EN LA RESPUESTA HTML\n## ===============================================================\n\nSIEMPRE incluye al inicio del HTML una línea que indique la carpeta usada:\n\n```html\n<p style=\"color:#6b7280; font-size:13px;\">Carpeta analizada: {{folder}}</p>\n```\n\nSi `folder` está vacío → mostrar:\n```html\n<p style=\"color:#6b7280; font-size:13px;\">Carpeta analizada: Todas las carpetas</p>\n```\n\nEsta línea debe aparecer ANTES del bloque principal de evidencia.\n\n---\n\n## ===============================================================\n## REGLA CRÍTICA DE RESPUESTA\n## ===============================================================\n\nTu respuesta DEBE ser un JSON literal válido y NO debe contener un JSON dentro de otro JSON.\n- NO debes escapar caracteres.\n- NO debes agregar \\n, \\\\n ni comillas escapadas.\n- NO debes envolver el JSON en una cadena.\n- NO debes generar markdown.\n\nSolo debes devolver un objeto JSON real con un único campo llamado \"output\".\n\n**FORMATO ÚNICO OBLIGATORIO:**\n\n```json\n{\n  \"output\": \"HTML_FINAL\"\n}\n```\n\nHTML_FINAL debe ser HTML puro, sin backticks, sin markdown y sin texto escapado.\n\n---\n\n## ===============================================================\n## MODO DOCUMENTOS (USAR pdf/text)\n## ===============================================================\n\nSe activa cuando el usuario pregunte por:\n- Controles ISO 27001\n- Políticas\n- Evidencias\n- Normativa\n- Requisitos\n- Auditoría\n- Documentos PDF/Word\n- Secciones, páginas o descripciones\n- Contenido textual de documentos\n- Listar documentos por carpeta\n\nEn este modo debes usar exclusivamente `pdf/text`.\n\n### ESTRUCTURA OBLIGATORIA DEL HTML_FINAL EN MODO DOCUMENTOS\n\n```html\n<p style=\"color:#6b7280; font-size:13px;\">Carpeta analizada: {{folder}}</p>\n\n<h3 class=\"mv-title-h3\">Respuesta</h3>\n<p>Explica la conclusión basada solamente en la evidencia más relevante.</p>\n\n<div class=\"mv-evidence-box\">\n  <h3 class=\"mv-title-h3\">Evidencia principal</h3>\n  <table class=\"mv-evidence-table\">\n    <tr><td>Documento</td><td>{{document}}</td></tr>\n    <tr><td>Página</td><td>{{page}}</td></tr>\n    <tr><td>Ubicación</td><td>{{ubicacion}}</td></tr>\n    <tr><td>Enlace</td><td><a href=\"{{source_url}}\" target=\"_blank\" rel=\"noopener noreferrer\">Abrir documento</a></td></tr>\n    <tr><td>Sección</td><td>{{section}}</td></tr>\n    <tr><td>Descripción</td><td>{{description}}</td></tr>\n  </table>\n  <div class=\"mv-fragment\">{{pageContent}}</div>\n</div>\n\n<h3 class=\"mv-title-h3\">Documentos relacionados (todos los demás)</h3>\n<ul>\n  <!-- Genera un <li> por cada documento agrupado, sin omitir ninguno -->\n</ul>\n```\n\n**Formato de cada item:**\n```html\n<li>{{document}} — Página {{page}} — <a href=\"{{source_url}}\" target=\"_blank\" rel=\"noopener noreferrer\">Abrir</a></li>\n```\n\nSi hay varias páginas:\n```html\n<li>{{document}} — Páginas {{lista_paginas}} — <a href=\"{{source_url}}\" target=\"_blank\" rel=\"noopener noreferrer\">Abrir</a></li>\n```\n\nSi no hay enlace → \"Sin enlace disponible\".\n\n---\n\n## ===============================================================\n## MODO LISTADO DE CARPETA\n## ===============================================================\n\nSe activa SOLO si el usuario pide explícitamente listar una carpeta (ej: \"listar la carpeta X\", \"lista los documentos\", \"documentos de esta ubicación\").\n\n### Reglas:\n1. Usar `metadata.ubicacion`.\n2. Extraer el nombre después del último \"/\".\n3. Incluir todos los documentos que correspondan a esa carpeta.\n4. No aplicar reglas de evidencia principal.\n5. No filtrar por score.\n6. **APLICAR FILTRO DE CARPETA** según `body.folder`.\n\n### Formato:\n\n```json\n{\n  \"output\": \"<p style='color:#6b7280; font-size:13px;'>Carpeta analizada: {{folder}}</p><h3 class='mv-title-h3'>Listado de documentos</h3><ul><li>{{document}} — <a href='{{source_url}}' target='_blank' rel='noopener noreferrer'>Abrir</a></li></ul>\"\n}\n```\n\n---\n\n## ===============================================================\n## MODO MATRICES XLSX (USAR xlsx)\n## ===============================================================\n\nSe activa cuando el usuario menciona:\n- \"matriz\"\n- \"hoja\"\n- \"excel\"\n- \"xlsx\"\n- \"columna\"\n- \"fila\"\n- \"activos\"\n- \"lista de activos\"\n- \"detalle del activo\"\n- \"riesgos\"\n- \"controles\"\n- \"información de la hoja\"\n\nEn este modo debes usar exclusivamente `xlsx`.\n\n**IMPORTANTE:** También aplica el filtro de `body.folder` a resultados de xlsx.\n\n### FORMATO PARA LISTAS DE MATRIZ XLSX\n\n```html\n<p style=\"color:#6b7280; font-size:13px;\">Carpeta analizada: {{folder}}</p>\n\n<h3 class=\"mv-title-h3\">Resultados de la Matriz</h3>\n<ul>\n  <li>{{valor}} — Archivo: {{archivo}} — Hoja: {{hoja}} — Fila: {{fila}} — <a href=\"{{source_url}}\" target=\"_blank\" rel=\"noopener noreferrer\">Abrir</a></li>\n</ul>\n```\n\n### FORMATO PARA DETALLE DE UN ELEMENTO XLSX\n\n```html\n<p style=\"color:#6b7280; font-size:13px;\">Carpeta analizada: {{folder}}</p>\n\n<h3 class=\"mv-title-h3\">Detalle del elemento</h3>\n<table class=\"mv-evidence-table\">\n  <tr><td>Campo</td><td>Valor</td></tr>\n  <tr><td>Enlace</td><td><a href=\"{{source_url}}\" target=\"_blank\" rel=\"noopener noreferrer\">Abrir documento</a></td></tr>\n</table>\n\n<div class=\"mv-evidence-box\">\n  Archivo: {{archivo}} — Hoja: {{hoja}} — Fila: {{fila}}\n</div>\n```\n\n---\n\n## ===============================================================\n## REGLA DE ENLACES\n## ===============================================================\n\nSiempre usar `metadata.source_url` o `source_url`.\n- Nunca usar `bitrixDetailUrl` ni otros campos.\n- Si no existe enlace → \"Sin enlace disponible\".\n\n---\n\n## ===============================================================\n## CUANDO NO HAY EVIDENCIA (GLOBAL O MATRIZ)\n## ===============================================================\n\n```json\n{\n  \"output\": \"❌ No se encontró evidencia en los documentos disponibles.\"\n}\n```\n\nSi el problema es específicamente el filtro de carpeta:\n```json\n{\n  \"output\": \"❌ No se encontró evidencia documental dentro de la carpeta seleccionada: {{folder}}\"\n}\n```\n\n---\n\n## ===============================================================\n## REGLA FINAL\n## ===============================================================\n\n- Siempre responde exclusivamente HTML en el campo \"output\".\n- Nunca inventes información.\n- **Siempre utiliza el filtro de ubicación ANTES de procesar resultados.**\n- Siempre responde en español.\n- Verifica tres veces que todos los documentos en tu respuesta pertenezcan a `body.folder` (si está especificado)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2416,
        -1232
      ],
      "id": "b0b45101-eed1-4cbf-a8c3-1cde6308e5b2",
      "name": "AI Agent ZEI",
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1LwGhXktdAPmm1ckrkoJdcpzPiCNbgpIg9vIWBguYlBk",
          "mode": "list",
          "cachedResultName": "Documentos_ISO 27001",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LwGhXktdAPmm1ckrkoJdcpzPiCNbgpIg9vIWBguYlBk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LwGhXktdAPmm1ckrkoJdcpzPiCNbgpIg9vIWBguYlBk/edit#gid=0"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1520,
        -976
      ],
      "id": "58d598fb-c556-4e37-a8c7-1f29d637138e",
      "name": "lista documentos",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fm3jifX2nPTobuSZ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook2": [
      {
        "json": {
          "headers": {
            "host": "n8n.mobilvendor.com",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36 Edg/142.0.0.0",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.9,es-ES;q=0.8,en;q=0.7,en-GB;q=0.6,en-US;q=0.5",
            "if-none-match": "W/\"c03-LaLdxCoWU53e4SRjgIQwdDWFcmk\"",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Microsoft Edge\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "172.19.0.1",
            "x-forwarded-host": "n8n.mobilvendor.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "b914648e9224",
            "x-real-ip": "172.19.0.1"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://n8n.mobilvendor.com/webhook/folder",
          "executionMode": "production"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mobilvendor.com",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36 Edg/142.0.0.0",
            "content-length": "160",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.9,es-ES;q=0.8,en;q=0.7,en-GB;q=0.6,en-US;q=0.5",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Microsoft Edge\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "172.19.0.1",
            "x-forwarded-host": "n8n.mobilvendor.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "b914648e9224",
            "x-real-ip": "172.19.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "sessionId": "session_1765071565781",
            "message": "muestrame los documentos que tengan algo relacionado control de acceso",
            "folder": "Seguridad de la Información"
          },
          "webhookUrl": "https://n8n.mobilvendor.com/webhook/agente_ISO27001-selector-carpeta",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-12-04T17:22:05.524Z",
      "updatedAt": "2025-12-04T17:22:05.524Z",
      "role": "workflow:owner",
      "workflowId": "qgk0Joy7xUJPsbue",
      "projectId": "IcIKCrtLDXlTBTP5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-12-07T04:38:12.000Z",
  "versionId": "88744040-7c3f-4e9b-a982-0593d2152dce"
}