workflows/sS372xlAzZ0juZ7z.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-17T21:48:59.163Z",
  "id": "sS372xlAzZ0juZ7z",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 14",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        0
      ],
      "id": "73ebfdb3-4ebf-4bcf-a88f-743948add33b",
      "name": "When chat message received",
      "webhookId": "01341582-b9f8-4397-ad59-73d53e0286e5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agents.mobilvendor-ai.com/api/v1/prediction/b8e3f98a-0248-4780-8c30-bda8af379c73",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "76611efd-c8ed-4f11-a93e-094e559704c8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd5001ea-a574-403b-ab17-f880f0c5c54c",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "8a46a640-f9bd-4735-8998-282e7860947e",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-17T21:48:59.176Z",
      "updatedAt": "2025-09-17T21:48:59.176Z",
      "role": "workflow:owner",
      "workflowId": "sS372xlAzZ0juZ7z",
      "projectId": "IcIKCrtLDXlTBTP5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-18T19:18:39.000Z",
  "versionId": "e6c2e8e3-f721-43b2-94a3-274616ba145f"
}