workflows/xvjXjw2xNHoD50z0.json
{
  "active": false,
  "connections": {
    "AI Agent ZEI1": {
      "main": [
        [
          {
            "node": "Ordenar campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ordenar campos": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent ZEI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "AI Agent ZEI": {
      "main": [
        [
          {
            "node": "Ordenar campos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent ZEI",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent ZEI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent ZEI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ordenar campos1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent ZEI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent ZEI",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-20T17:34:02.818Z",
  "id": "xvjXjw2xNHoD50z0",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 25",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=Eres un agente experto en auditoría ISO 27001. Tu única función es responder preguntas usando exclusivamente la información encontrada en el vector store.\n\nREGLA CRÍTICA:\nTu respuesta DEBE ser un JSON literal válido y NO debe contener un JSON dentro de otro JSON.\nNO debes escapar caracteres.\nNO debes agregar \\n, \\\\n, ni comillas escapadas.\nNO debes envolver el JSON en una cadena.\nNO debes generar markdown.\nSolo debes devolver un objeto JSON real con un único campo llamado \"output\".\n\nFORMATO ÚNICO DE RESPUESTA (OBLIGATORIO):\n{\n  \"output\": \"HTML_FINAL\"\n}\n\nDonde HTML_FINAL debe ser HTML puro, sin backticks, sin markdown y sin texto escapado. El HTML debe ser exactamente como se debe renderizar.\n\nESTRUCTURA DEL HTML_FINAL (OBLIGATORIO):\n\n<h3 class=\"mv-title-h3\">Respuesta</h3>\n<p>Explica la conclusión basada solamente en la evidencia más relevante.</p>\n\n<div class=\"mv-evidence-box\">\n  <h3 class=\"mv-title-h3\">Evidencia principal</h3>\n  <table class=\"mv-evidence-table\">\n    <tr><td>Documento</td><td>{{document}}</td></tr>\n    <tr><td>Página</td><td>{{page}}</td></tr>\n    <tr><td>Ubicación</td><td>{{ubicacion}}</td></tr>\n    <tr><td>Enlace</td><td><a href=\"{{source_url}}\" target=\"_blank\" rel=\"noopener noreferrer\">Abrir documento</a></td></tr>\n    <tr><td>Sección</td><td>{{section}}</td></tr>\n    <tr><td>Descripción</td><td>{{description}}</td></tr>\n  </table>\n\n  <div class=\"mv-fragment\">\n    {{pageContent}}\n  </div>\n</div>\n\nREGLA DE BÚSQUEDA AMPLIADA (OBLIGATORIA):\nDebes analizar TODOS los resultados provenientes del vector store. No debes usar solo el documento más relevante.\n\nPROCESAMIENTO:\n1. Identifica el documento con MAYOR relevancia → Esto será la evidencia principal.\n2. Todos los demás resultados serán \"Documentos relacionados\".\n3. Antes de generar HTML, debes AGRUPAR resultados por documento.\n4. Para cada documento agrupado, debes unir todas las páginas encontradas.\n5. Debes ordenar las páginas de menor a mayor.\n6. Si un documento aparece varias veces NO debes listarlo más de una vez.\n7. Debes mostrar TODOS los documentos, sin omitir ninguno.\n\nREGLA DE AGRUPACIÓN DE DOCUMENTOS (OBLIGATORIA):\nSi un mismo documento aparece varias veces en el vector store, NO debes crear varias líneas.\nDebes generar una sola línea con todas las páginas encontradas.\n\nFormato obligatorio final para cada documento relacionado:\n\n<li>{{document}} — Página {{page}} — <a href=\"{{source_url}}\" target=\"_blank\" rel=\"noopener noreferrer\">Abrir</a></li>\n\no si tiene varias páginas:\n\n<li>{{document}} — Páginas {{lista_paginas}} — <a href=\"{{source_url}}\" target=\"_blank\" rel=\"noopener noreferrer\">Abrir</a></li>\n\nDonde:\n- lista_paginas = todas las páginas únicas encontradas, ordenadas ascendentemente.\n- Si metadata.source_url está vacío, mostrar “Sin enlace disponible”.\n\nSECCIÓN OBLIGATORIA:\n\n<h3 class=\"mv-title-h3\">Documentos relacionados (todos los demás)</h3>\n<ul>\nDebes generar un <li> por cada documento agrupado. No debes limitar la cantidad. No debes omitir ninguno.\n</ul>\n\nREGLAS ADICIONALES:\n- NO OMITAS ningún documento devuelto por Pinecone.\n- NO filtres por score (ya lo hizo Pinecone).\n- NO reduzcas la lista.\n- NO combines documentos distintos.\n- Si no existe evidencia en la base de conocimiento, responde exactamente:\n{\n  \"output\": \"❌ No se encontró evidencia documental para este control en los documentos disponibles.\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -464,
        128
      ],
      "id": "77187ce8-30ef-4b6c-8eb9-ead0eb33726f",
      "name": "AI Agent ZEI1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -672,
        352
      ],
      "id": "245e0294-f2fc-4923-b6a3-a697fa63e54f",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "e5d535ed-2cfe-48f3-b1b3-962f5952a681",
      "name": "Embeddings OpenAI2",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        -400,
        592
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca en el vector store de Pinecone la información solicitada. \nDevuelve SIEMPRE el resultado completo del vector en formato JSON, \nincluyendo los campos:\n- metadata.document\n- metadata.page\n- metadata.section\n- metadata.description\n- metadata.source_url\n- metadata.compliance\n- pageContent\n\nNo resumas ni reescribas los resultados, devuélvelos tal como los recibe del vector.",
        "pineconeIndex": {
          "__rl": true,
          "value": "iso-27001",
          "mode": "list",
          "cachedResultName": "iso-27001"
        },
        "topK": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -400,
        384
      ],
      "id": "775ea873-8193-4ddf-b3d4-4e969243725b",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "bqNx5oAwXmTYQGz2",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        272,
        128
      ],
      "id": "3a4645c7-4054-41f9-82bf-8ea9e486f705",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId || $json.sessionId || $json.headers[\"x-real-ip\"] || \"anon\" }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -496,
        352
      ],
      "id": "989f74ef-5153-4800-820e-fc089b8f24de",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// 1. Desencapsular JSON anidado\nlet raw = $json.output;\n\nif (typeof raw === \"string\") {\n  try {\n    raw = JSON.parse(raw);\n  } catch (e) {\n    return { output: \"❌ Error al parsear salida: \" + e.message };\n  }\n}\n\n// 2. Obtener HTML del agente\nlet html = raw.output || \"\";\n\n// ELIMINAR LA SECCIÓN DE RESPUESTA COMPLETA\n// Esto elimina desde el <h3>Respuesta</h3> hasta antes de <div class=\"mv-evidence-box\">\nhtml = html.replace(\n  /<h3 class=['\"]mv-title-h3['\"]>Respuesta<\\/h3>[\\s\\S]*?(?=<div class=['\"]mv-evidence-box['\"]>)/i,\n  \"\"\n);\n\n\n// 3. EXTRAER TODAS LAS FILAS DEL <table>\nconst tableMatch = html.match(/<table[\\s\\S]*?<\\/table>/i);\nif (!tableMatch) {\n  return { output: html };\n}\n\nlet tableHtml = tableMatch[0];\n\n// Extraer filas individuales\nconst rows = [...tableHtml.matchAll(/<tr>([\\s\\S]*?)<\\/tr>/gi)].map(r => r[0]);\n\n// Crear diccionario para las filas encontradas\nlet map = {\n  documento: null,\n  ubicacion: null,\n  pagina: null,\n  enlace: null,\n  seccion: null,\n  descripcion: null\n};\n\n// Clasificar filas por su título\nfor (const row of rows) {\n  const lower = row.toLowerCase();\n  if (lower.includes(\"<td>documento\")) map.documento = row;\n  else if (lower.includes(\"<td>ubicación\")) map.ubicacion = row;\n  else if (lower.includes(\"<td>página\") || lower.includes(\"<td>pagina\")) map.pagina = row;\n  else if (lower.includes(\"<td>enlace\")) map.enlace = row;\n  else if (lower.includes(\"<td>sección\") || lower.includes(\"<td>seccion\")) map.seccion = row;\n  else if (lower.includes(\"<td>descripción\") || lower.includes(\"<td>descripcion\")) map.descripcion = row;\n}\n\n// 4. RECONSTRUIR LA TABLA EN EL ORDEN CORRECTO\nlet newTable =\n  \"<table class=\\\"mv-evidence-table\\\">\" +\n  (map.documento || \"\") +\n  (map.ubicacion || \"\") +\n  (map.pagina || \"\") +\n  (map.enlace || \"\") +\n  (map.seccion || \"\") +\n  (map.descripcion || \"\") +\n  \"</table>\";\n\n// 5. Reemplazar tabla original\nhtml = html.replace(tableHtml, newTable);\n\n// 6. Devolver HTML corregido\nreturn {\n  output: html\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        128
      ],
      "id": "1f9d3a1a-934f-4e77-bcac-5e33ec178cb8",
      "name": "Ordenar campos"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agentISO27001",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -944,
        128
      ],
      "id": "ba18b4f8-d235-474b-b1d2-d596cca1e2e0",
      "name": "Webhook1",
      "webhookId": "1c8d45e7-24a6-4d80-b05f-867c33711988"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agentISO27001",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        928
      ],
      "id": "89f79fa2-7906-48e9-8a57-45d7f77ccf75",
      "name": "Webhook",
      "webhookId": "1c8d45e7-24a6-4d80-b05f-867c33711988",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Eres un agente experto en auditoría ISO 27001. Tu función es responder preguntas usando AMBAS fuentes de información:\n\n📊 FUENTE 1: GOOGLE SHEETS (Datos Estructurados)\nContiene matrices de:\n- Activos de Información: inventario de datos por departamento, clasificación, ubicación\n- Implementación de Controles: estado de cumplimiento de cada control ISO27001\n- Matriz de Riesgos: evaluación de riesgos identificados\n\n🔍 FUENTE 2: PINECONE (Documentación)\nContiene:\n- Políticas de seguridad, procedimientos\n- Documentos normativos ISO27001\n- Evidencia documental, referencias\n\n🤖 SELECTOR AUTOMÁTICO DE HERRAMIENTA (CRÍTICO):\n\nUSA GOOGLE SHEETS SI:\n✓ \"¿Qué activos tiene...\" / \"¿Cuáles son los activos...\"\n✓ \"¿Qué departamentos...\" / \"¿Cuántos controles...\"\n✓ \"¿Está implementado el control...\" / \"¿Cuál es el estado...\"\n✓ \"¿Cuál es la clasificación...\" / \"¿Dónde está ubicado...\"\n✓ \"matriz\", \"inventario\", \"lista de\", \"cuántos\", \"búsqueda exacta\"\n\nUSA PINECONE SI:\n✓ \"¿Qué es\", \"¿Cómo\", \"¿Por qué\", \"explica\"\n✓ \"política de\", \"procedimiento de\", \"norma\", \"requisito\"\n✓ \"evidencia documental\", \"referencias\", \"documento\"\n✓ preguntas semánticas, conceptuales, normativas\n\nUSA AMBAS SI:\n✓ \"¿Qué política aplica al activo X?\" (Google Sheets + Pinecone)\n✓ Preguntas que combinan datos estructurados + contexto normativo\n\n⚠️ REGLAS CRÍTICAS:\nTu respuesta DEBE ser un JSON literal válido.\nNO debes escapar caracteres, NO agregar \\n, NO envolver en cadena.\nNO debes generar markdown ni backticks.\nSolo devuelve un objeto JSON real con campo \"output\".\n\nFORMATO ÚNICO DE RESPUESTA (OBLIGATORIO):\n{\n  \"output\": \"HTML_FINAL\"\n}\n\nDonde HTML_FINAL es HTML puro, sin backticks, sin markdown.\n\nESTRUCTURA DEL HTML_FINAL (OBLIGATORIO):\n\n<h3 class=\\\"mv-title-h3\\\">Respuesta</h3>\n<p>Explica la conclusión basada en evidencia.</p>\n\n<div class=\\\"mv-evidence-box\\\">\n  <h3 class=\\\"mv-title-h3\\\">Evidencia principal</h3>\n  <table class=\\\"mv-evidence-table\\\">\n    <tr><td>Fuente</td><td>Google Sheets o Pinecone</td></tr>\n    <tr><td>Hoja/Documento</td><td>Nombre específico</td></tr>\n    <tr><td>Hallazgo</td><td>Resultado o dato encontrado</td></tr>\n  </table>\n</div>\n\nSi no existe evidencia en ambas bases:\n{\n  \"output\": \"⌚ No se encontró evidencia en Google Sheets ni en documentos Pinecone para esta consulta.\"\n}\n\nPRIOCESO DE EJECUCIÓN:\n1. Analiza la pregunta del usuario\n2. Determina qué fuente(s) usar según reglas arriba\n3. Ejecuta herramienta(s) correspondiente(s)\n4. Sintetiza resultados\n5. Devuelve HTML puro en JSON"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        752,
        1024
      ],
      "id": "600bdb7a-859e-471b-bf5a-9a1779776e16",
      "name": "AI Agent ZEI"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        1248
      ],
      "id": "8c35a116-36c7-4f25-8fd0-a08d24a1ceae",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "a811328f-4183-4ba7-ab21-cb94f27e2808",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        816,
        1488
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "ESQcfuiJYPWo7F8F",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Busca en el vector store de Pinecone la información documental de ISO27001. Devuelve documentos, políticas, procedimientos y referencias normativas. Parámetros: query (búsqueda)",
        "pineconeIndex": {
          "__rl": true,
          "value": "iso-27001",
          "mode": "list",
          "cachedResultName": "iso-27001"
        },
        "topK": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        816,
        1280
      ],
      "id": "fc57326a-1fc9-4918-9098-a0460f5f7ac6",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "bqNx5oAwXmTYQGz2",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1488,
        1024
      ],
      "id": "129d04bd-90d9-447e-ad2f-cda8a4769a84",
      "name": "Respond to Webhook1",
      "disabled": true
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        720,
        1248
      ],
      "id": "9649b136-2ec0-4e0a-b97e-08b648cd22d1",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Desencapsular JSON anidado\nlet raw = $json.output;\n\nif (typeof raw === \"string\") {\n  try {\n    raw = JSON.parse(raw);\n  } catch (e) {\n    return { output: \"⌚ Error al parsear salida: \" + e.message };\n  }\n}\n\n// 2. Obtener HTML del agente\nlet html = raw.output || \"\";\n\n// ELIMINAR LA SECCIÓN DE RESPUESTA COMPLETA\nhtml = html.replace(\n  /<h3 class=['\"]mv-title-h3['\"]>Respuesta<\\/h3>[\\s\\S]*?(?=<div class=['\"]mv-evidence-box['\"]>)/i,\n  \"\"\n);\n\n// 3. EXTRAER TODAS LAS FILAS DEL <table>\nconst tableMatch = html.match(/<table[\\s\\S]*?<\\/table>/i);\nif (!tableMatch) {\n  return { output: html };\n}\n\nlet tableHtml = tableMatch[0];\nconst rows = [...tableHtml.matchAll(/<tr>([\\s\\S]*?)<\\/tr>/gi)].map(r => r[0]);\n\nlet map = {\n  fuente: null,\n  hoja: null,\n  hallazgo: null\n};\n\nfor (const row of rows) {\n  const lower = row.toLowerCase();\n  if (lower.includes(\"<td>fuente\")) map.fuente = row;\n  else if (lower.includes(\"<td>hoja\") || lower.includes(\"<td>documento\")) map.hoja = row;\n  else if (lower.includes(\"<td>hallazgo\")) map.hallazgo = row;\n}\n\nlet newTable =\n  \"<table class=\\\"mv-evidence-table\\\">\" +\n  (map.fuente || \"\") +\n  (map.hoja || \"\") +\n  (map.hallazgo || \"\") +\n  \"</table>\";\n\nhtml = html.replace(tableHtml, newTable);\n\nreturn {\n  output: html\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        1024
      ],
      "id": "57b27763-6bae-46ba-ba06-beefe5f2054d",
      "name": "Ordenar campos1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        1024
      ],
      "id": "779865a6-6d51-4acb-acf4-c0e9fe539c43",
      "name": "When chat message received",
      "webhookId": "9dcf74ed-fa72-4dbb-b9af-7c7bcda55b0e"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_SYitwrj4pmmymS72cR75WbohIxnggEFU602pQQaDFY",
          "mode": "list",
          "cachedResultName": "MATRIZ ISO27001-2022",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_SYitwrj4pmmymS72cR75WbohIxnggEFU602pQQaDFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1516178181,
          "mode": "list",
          "cachedResultName": "Evaluación de Desempeño ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_SYitwrj4pmmymS72cR75WbohIxnggEFU602pQQaDFY/edit#gid=1516178181"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Header_Row', ``, 'number') }}",
              "firstDataRow": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('First_Data_Row', ``, 'number') }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1184,
        1264
      ],
      "id": "572b25a0-fc6a-49ca-ba0c-ac8b631538a1",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fm3jifX2nPTobuSZ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n.mobilvendor.com",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36 Edg/142.0.0.0",
            "content-length": "104",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-419,es;q=0.9,es-ES;q=0.8,en;q=0.7,en-GB;q=0.6,en-US;q=0.5",
            "content-type": "application/json",
            "origin": "null",
            "priority": "u=1, i",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Microsoft Edge\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "172.19.0.1",
            "x-forwarded-host": "n8n.mobilvendor.com",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "b914648e9224",
            "x-real-ip": "172.19.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "sessionId": "session_1760714905168_84vpku",
            "message": "control de acceso en politicas seguridad fisica"
          },
          "webhookUrl": "https://n8n.mobilvendor.com/webhook/agentISO27001",
          "executionMode": "production"
        }
      }
    ],
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.mobilvendor.com",
            "content-type": "application/json",
            "x-real-ip": "172.19.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "sessionId": "session_demo",
            "message": "¿Qué activos tiene el departamento de Contabilidad?"
          },
          "webhookUrl": "https://n8n.mobilvendor.com/webhook/agentISO27001",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-20T17:34:02.840Z",
      "updatedAt": "2025-11-20T17:34:02.840Z",
      "role": "workflow:owner",
      "workflowId": "xvjXjw2xNHoD50z0",
      "projectId": "IcIKCrtLDXlTBTP5"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-20T21:49:27.000Z",
  "versionId": "8367c7c0-3ec8-4355-a86a-6a440ab553d0"
}